.department_title {
    background: transparent url("http://lorempixel.com/108/73") no-repeat scroll left;
    background-size: 83px 50px;
    line-height: 26px;
    text-transform: none;
    min-height: 73px;
    margin: 0px 0px 10px -10px;
    padding: 26px 0px 5px 108px;
}