.compliance .portlet .row {
    margin-top: 70px;
}

.compliance .compliance-item {
    margin-bottom: 50px;
    text-align: center;
    color: #45B6AF;
    text-transform: uppercase;
}

.compliance .compliance-item a {
    color: #fff4f4;
    font-weight: bold;
}

.compliance .compliance-item span > .fa-circle {
    font-size: 100px !important;
    margin-top: 30%;
    color: #EEE;
}

.compliance .compliance-item span > .text-primary {
    font-size: 50px !important;
    margin-top: 30%;
    color: #45B6AF;
}

@media (min-width: 768px) {
    .compliance .compliance-item a {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .compliance .compliance-item a {
        width: 100%;
    }
}
