/* As per request 30/11/2015 */

.tabbable-line > .nav-tabs > li.active > a {
  background-color: #eee !important;
  box-shadow: 1px 1px rgba(0,0,0,0.15) ;
}


/* As per request 21/10/15 */

body, .navbar-fixed-top {
    background-color: #eee !important ;
}

.page-header .navbar .search .form-control {
    background-color: #fff ;
}

.page-header .navbar .navbar-nav li.open > a {
    background-color: #fff !important;
}

.page-header .navbar .navbar-nav .dropdown-menu {
    background-color: #fff;
}


.page-header .navbar .navbar-nav > li > a {
    background-color: #eee;
}

.page-header .navbar .navbar-nav > li > a {
    padding: 15px 25px;
}

.page-header .navbar .navbar-nav .dropdown-menu > li > a {
    padding: 20px 10px 20px 20px;
}


.portlet.light > .portlet-title > .caption > .caption-subject {
  font-size: 24px;
}

.actions-search {
    cursor: text;
    margin-left: 15px;
}


.datatable-filter {
    background-color: #FFF8DC;
}

.dropdown-menu-v2 {
    background-color: #fff;
    border: solid thin grey;
    padding: 0px 0px;

}
.dropdown-menu-v2:before {
   border-style: none; 
}
.dropdown-menu-v2 .active > a, .dropdown-menu-v2 .active > a:hover, .dropdown-menu-v2 .active > a:focus, .dropdown-menu-v2 .active > a, .dropdown-menu-v2 .active > a:hover, .dropdown-menu-v2 .active > a:focus, .dropdown-menu-v2 .active > a, .dropdown-menu-v2 .active > a:hover, .dropdown-menu-v2 .active > a:focus {
    background-color: #fff;
}

.dropdown-menu-v2 > li > a:hover, .dropdown-menu-v2 > li > a:focus {

    background-color: #FFF8DC;
}

.dropdown-menu-v2 > li > a {
    text-transform: none;
}

/*This one make the number of new mails be on top like the notifications one*/
.page-header .navbar .topbar-actions .btn-group-mail {
    position: relative;
    margin: 0 10px 0 0px;
}
.page-header .navbar .topbar-actions .btn-group-mail:after {
    top: 11px;
    width: 1px;
    content: " ";
    right: -17.5px;
    position: absolute;
    border: 25px #3e4952;
    border-top-style: solid;
}
.page-header .navbar .topbar-actions .btn-group-mail .dropdown-menu-v2 {
    padding: 0;
    min-width: 300px;
    right: -50px;
}
.page-header .navbar .topbar-actions .btn-group-mail .dropdown-menu-v2:before {
    top: -10px;
    right: 65px;
    border-width: 0 7.5px 15px 7.5px;
    border-color: transparent transparent #21282e transparent;
}
.page-header .navbar .topbar-actions .btn-group-mail .btn {
    top: 6px;
    padding: 5px 0px !important;
    background: #44C774;
    width: 35px;
    height: 35px;
}
.page-header .navbar .topbar-actions .btn-group-mail .btn span {
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}
.page-header .navbar .topbar-actions .btn-group-mail .btn span:hover {
    color: #fff;
}

.page-header .navbar .topbar-actions .btn-group-mail .dropdown-menu-list > li > a:hover {
    text-decoration: none;
}

@media (max-width: 480px) {
    .page-header .navbar .topbar-actions .btn-group-mail .dropdown-menu-v2 {
        right: -100px !important;
    }
    .page-header .navbar .topbar-actions .btn-group-mail .dropdown-menu-v2:before {
        top: -10px;
        left: 175px !important;
        border-width: 0 7.5px 15px 7.5px;
        border-color: transparent transparent #242b31 transparent;
    }

    /*Override and fix notification*/
    .page-header .topbar-actions .btn-group-notification .dropdown-menu-v2 {
        right: -150px !important;
    }
    .page-header .topbar-actions .btn-group-notification .dropdown-menu-v2:before {
        top: -10px;
        left: 125px;
        border-width: 0 7.5px 15px 7.5px;
        border-color: transparent transparent #242b31 transparent;
    }
}

/*Overide .page-logo and nav bar in order the bigger logo and nav bar look nice*/
.page-header .navbar .page-logo {
    height: 75px;
    max-height: 75px;
    line-height: 75px;
    margin-right: 75px;
}

@media (min-width: 751px) and (max-width: 970px) {
    .page-header .navbar .page-logo {
        float: left !important;
    }
}

.page-header .navbar-collapse {
    margin-top: 105px;
}

.page-header .navbar .search {
    top: 17px;
    display: table;
    position: relative;
}

@media (min-width: 900px) {
    /*Portlet SELECT BUTTON*/
    .portlet > .portlet-title > .caption > .status {
        float: right;
        margin-left: 5px;
    }
}

@media (min-width: 992px) {
    .page-header .topbar-actions {
        top: 35px;
    }
}

/*BreadCrumbs*/
.breadcrumbs {
    top: 20px;
    display: table;
    position: relative;
    margin-bottom: 10px !important;
    margin-left: -60px;
}

/*ALLOW the search box next to breadcrumbs only in large screens*/
@media (min-width: 970px) {
    .breadcrumbs {
        float: left;
        padding-right: 15px;
        margin-bottom: 30px !important;
    }
}

.breadcrumbs .breadcrumb {
    text-align: left !important;
    font-weight: bold
}

.full-width {
    width: 100% !important;
}

.tab-quick-action a {
    cursor: default;
}

.tab-quick-action a:hover {
    color: #6E6E6E !important;
}
