{% extends "backbone.twig" %}
{% block body_class %}page-header-fixed page-quick-sidebar-over-content{% endblock %}
{# Overide the theme styles in order to support admin5 theme#}
{% block theme_styles %}
    <!-- BEGIN THEME STYLES -->
    <link href="{{ assets('assets/global/css/components-rounded.css')}}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ assets('assets/global/css/plugins.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ assets('assets/admin/layout5/css/layout.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ assets('assets/admin/layout5/css/custom.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ assets('assets/recursive/css/font-awesome-extend.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ assets('assets/recursive/css/bootstrap-extend.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ assets('assets/recursive/css/layout-extend.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ assets('assets/recursive/css/modals.css') }}" rel="stylesheet" type="text/css"/>

    <!-- END THEME STYLES -->
{% endblock %}
{#BEGIN Wrapper sub blocks#}
{% block page_header %}
    <!-- Header BEGIN -->
    <header class="page-header">
        <nav class="navbar mega-menu" role="navigation">
            <div class="container-fluid">
                <div class="clearfix navbar-fixed-top">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
		                    <span class="toggle-icon">
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                    </span>
                    </button>
                    <!-- End Toggle Button -->

                    <!-- BEGIN LOGO -->
                    <a id="index" class="page-logo" href="?r=index">
                        <img class="img-responsive" src="{{ assets('assets/recursive/img/kob_logo.png') }}">
                    </a>
                    <!-- END LOGO -->
                    <div class="hidden-xs">
                    {% block breadcrumbs %}{% endblock %}
                    </div>

                    <!-- BEGIN TOPBAR ACTIONS -->
                    <div class="topbar-actions">
                        <div class="btn-group search-area">
                            <!-- BEGIN SEARCH -->
                            <form class="search" action="extra_search.html" method="GET">
                                <input type="name" class="form-control" name="query" placeholder="Search...">
                                <a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a>
                            </form>
                            <!-- END SEARCH -->
                        </div>
                        <div class="btn-group btn-group-mail">
                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                                    data-hover="dropdown" data-close-others="true">
                                <span>ENG</span>
                            </button>
                            <ul class="dropdown-menu-v2">
                                <li>
                                    <a href="#"><img src="{{ assets('assets/recursive/img/gb.png') }}"> English</a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{ assets('assets/recursive/img/de.png') }}"> German</a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{ assets('assets/recursive/img/it.png') }}"> Italian</a>
                                </li>
                            </ul>
                        </div>
                        <!-- BEGIN GROUP NOTIFICATION -->
                        <div class="btn-group-notification btn-group" id="header_notification_bar">
                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-bell"></i>
                                <span class="badge">7</span>
                            </button>
                            <ul class="dropdown-menu-v2">
                                <li>
                                    <a href="#">Profile updated <span class="badge badge-info">Just now</span> </a>
                                </li>
                                <li>
                                    <a href="#">Andrea edited Risk #326 <span class="badge badge-success">3 hours ago</span> </a>
                                </li>
                                <li>
                                    <a href="#">Luca added Risk #17 <span class="badge badge-success">2 days ago</span> </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">View all notifications</a>
                                </li>
                            </ul>
                        </div>
                        &nbsp;&nbsp;
                        <!-- END GROUP NOTIFICATION -->
                        <!-- BEGIN USER PROFILE -->
                        <div class="btn-group-img btn-group">
                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img src="{{ assets('assets/admin/layout5/img/avatar1.jpg') }}" alt="">
                            </button>
                            <ul class="dropdown-menu-v2" role="menu">
                                <li>
                                    <a href="#">My Profile <span class="badge badge-danger">12</span> </a>
                                </li>
                                <li>
                                    <a href="#">Inbox <span class="badge badge-info">3</span> </a>
                                </li>
                                <!-- <li class="divider"></li> -->
                                <li>
                                    <a href="#">Sign Out</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END USER PROFILE -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <button type="button" class="quick-sidebar-toggler" data-toggle="collapse">
                            <span class="sr-only">Toggle Quick Sidebar</span>
                            <i class="icon-logout"></i>
                        </button>
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </div>
                    <!-- END TOPBAR ACTIONS -->
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                {% include "tab_bar.twig" %}
                <!-- END NAVBAR COLLAPSE -->


            </div>
            <!--/container-->
        </nav>
    </header>
    <!-- Header END -->
{% endblock %}
{% block page_container %}
 <div class="container-fluid">
     {% block quick_sidebar %}
     <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-login"></i></a>
     <div class="page-quick-sidebar-wrapper">
        <div class="page-quick-sidebar">
            <div class="nav-justified">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#quick_sidebar_tab_1" data-toggle="tab">
                            Settings <span class="badge badge-danger">2</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            More<i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#quick_sidebar_tab_2" data-toggle="tab">
                                    <i class="icon-settings"></i> Add more </a>
                            </li>
                            <li>
                                <a href="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-settings"></i> Add more </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                        <div class="tab-pane page-quick-sidebar-settings active" id="quick_sidebar_tab_1">
                            <div class="page-quick-sidebar-settings-list">
                                <h3 class="list-heading">General Settings</h3>
                                <ul class="list-items borderless">
                                    <li>
                                        Enable Notifications <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Allow Tracking <input type="checkbox" class="make-switch" data-size="small" data-on-color="info" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Log Errors <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Option 1 <input type="checkbox" class="make-switch" data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Option 2<input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                </ul>
                                <h3 class="list-heading">System Settings</h3>
                                <ul class="list-items borderless">
                                    <li>
                                        Option 3
                                        <select class="form-control input-inline input-sm input-small">
                                            <option value="1">Choice 1</option>
                                            <option value="2" selected>Choice 2</option>
                                            <option value="e">Choice 3</option>
                                        </select>
                                    </li>
                                    <li>
                                        Option 4 <input class="form-control input-inline input-sm input-small" value="5"/>
                                    </li>
                                    <li>
                                        Option 5 <input class="form-control input-inline input-sm input-small" value="3560"/>
                                    </li>
                                    <li>
                                        Critical Option 1 <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                    <li>
                                        Warning Option 1 <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                    </li>
                                </ul>
                                <div class="inner-content">
                                    <button class="btn btn-success"><i class="icon-settings"></i> Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
     </div>
    {% endblock %}
    <div class="content-scrollable" style="overflow-y: scroll;" >
         {% block page_content %}{% endblock %}
     </div>
         {% block copyrights %}
            <!-- Copyright BEGIN -->
            {% include "footer.twig" %}
            <!-- Copyright END -->
        {% endblock %}
 </div>
{% endblock %}

{% block page_pre_footer %}{% endblock %}
{% block page_footer %}{% endblock %}

{#END Wrapper sub blocks#}
{#AFTER WRAPPER#}
{% block wrapper_more %}
<a href="#" class="go2top"><i class="icon-arrow-up"></i></a>
{% endblock %}



{% block extrascripts %}
<script>
    $(function() {
            // Initializes the slimScroll on the main page content;
            $('.content-scrollable').slimScroll({ height: '75vh', size:'10px', alwaysVisible: true });
    });
</script>
{% endblock %}
