{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block page_styles %}
    <link href="{{ assets('assets/admin/pages/css/audit_detail.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ assets('assets/global/plugins/select2/css/select2.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/jquery-multi-select/css/multi-select.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css"/>


{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li>
                <a href="#">Audit</a>
            </li>
            <li class="active">Audit Title</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab_15_1" data-toggle="tab">
                                    Main </a>
                            </li>
                            <li>
                                <a href="#tab_15_2" data-toggle="tab">
                                    Audit Tasks </a>
                            </li>
                            <li>
                                <a href="#tab_15_3" data-toggle="tab">
                                    Audit Issues

                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_15_1">

                                <!-- Begin: life time stats -->
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject font-green-sharp bold uppercase ">Audit Title</span>
                                        </div>
                                        <div class="actions">
                                            <input type="text" class="btn btn-default btn-circle actions-search"
                                                   name="query"
                                                   placeholder="Search">
                                        </div>
                                        <div class="actions">
                                            <a href="javascript:;" class="btn btn-default btn-circle"
                                               data-toggle="modal" data-target="#create_report_modal">
                                                <i class="fa fa-file-text-o"></i>
                                                <span class="hidden-480">Create Report</span>
                                            </a>
                                            <a href="javascript:;" class="btn btn-default btn-circle">
                                                <i class="fa fa-edit"></i>
                                                <span class="hidden-480">Edit </span>
                                            </a>
                                            <a href="javascript:;" class="btn btn-default btn-circle">
                                                <i class="fa fa-file"></i>
                                                <span class="hidden-480">Export </span>
                                            </a>
                                            <a href="javascript:;" class="btn btn-default btn-circle">
                                                <i class="fa fa-envelope"></i>
                                                <span class="hidden-480">Invite </span>
                                            </a>
                                            <a href="javascript:;" class="btn btn-default btn-circle">
                                                <i class="fa fa-archive"></i>
                                                <span class="hidden-480">Archive </span>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="portlet-body form">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="portlet box green-haze">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                Audit Details
                                                            </div>
                                                            <div class="tools">
                                                                <a title="" data-original-title="" href="javascript:;"
                                                                   class="collapse"></a>
                                                            </div>
                                                            <div class="actions">
                                                                <a href="javascript:;"
                                                                   class="btn btn-default btn-outline tooltips"
                                                                   data-original-title="Help Text">
                                                                    <i class="fa fa-question"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body">
                                                            <form role="form">
                                                                <div class="row margin-top-10">
                                                                    <label class="control-label col-md-4">General
                                                                        details</label>

                                                                    <div class="col-md-4">
                                                                        <input class="form-control input-sm"
                                                                               placeholder="ID">
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <select name="audit_type"
                                                                                class="form-control input-sm">
                                                                            <option>Type</option>
                                                                            <option>Audit type 1</option>
                                                                            <option>Audit type 2</option>
                                                                            <option>Audit type 3</option>
                                                                            <option>Audit type 4</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row margin-top-10">
                                                                    <div class="col-md-4"></div>
                                                                    <div class="col-md-4">
                                                                        <select name="audit_status"
                                                                                class="form-control input-sm">
                                                                            <option>Status</option>
                                                                            <option>Status 2</option>
                                                                            <option>Status 3</option>
                                                                            <option>Status 4</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <select name="audit_criticality"
                                                                                class="form-control input-sm">
                                                                            <option>Criticality</option>
                                                                            <option>Important</option>
                                                                            <option>Medium</option>
                                                                            <option>Low</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <div class="row margin-top-10">
                                                                    <label class="control-label col-md-4">Audit
                                                                        Period</label>

                                                                    <div class="col-md-8">
                                                                        <div class="input-group input-group-sm date-picker input-daterange"
                                                                             data-date="10/11/2012"
                                                                             data-date-format="mm/dd/yyyy">
                                                                            <input class="form-control"
                                                                                   name="audit_from"
                                                                                   type="text">
                                                                            <span class="input-group-addon"> to </span>
                                                                            <input class="form-control" name="audit_to"
                                                                                   type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row margin-top-10">
                                                                    <label class="control-label col-md-4">Fieldwork
                                                                        Start
                                                                        Date</label>

                                                                    <div class="col-md-8">
                                                                        <div class="input-group input-group-sm">
                                                                            <input class="form-control date-picker"
                                                                                   name="fieldwork_from"
                                                                                   type="text"
                                                                                   data-date-format="mm/dd/yyyy">
                                                                            <span class="input-group-addon"> Duration </span>
                                                                            <input class="form-control"
                                                                                   name="fieldwork_duration"
                                                                                   type="number" placeholder="Weeks">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row margin-top-10">
                                                                    <label class="control-label col-md-4">Report Issued
                                                                        On</label>

                                                                    <div class="col-md-8">
                                                                        <input class="form-control date-picker"
                                                                               name="report_on"
                                                                               type="text"
                                                                               data-date-format="mm/dd/yyyy">
                                                                    </div>
                                                                </div>
                                                                <div class="row margin-top-10">
                                                                    <label class="control-label col-md-4">Audit
                                                                        Scope</label>

                                                                    <div class="col-md-8">
                                                <textarea name="audit_scope" class="form-control" rows="4"
                                                          placeholder="Enter a description of the scope of this audit"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="row margin-top-10">
                                                                    <label class="control-label col-md-4">Other
                                                                        Info</label>

                                                                    <div class="col-md-8">
                                                            <textarea name="other_info" class="form-control"
                                                                      rows="4"></textarea>
                                                                    </div>
                                                                </div>
                                                                <br>

                                                                <div class="portlet light">
                                                                    <div class="portlet-title">
                                                                        <div class="caption">
                                                                            Past Reports
                                                                        </div>
                                                                        <div class="actions">
                                                                            <button type="button"
                                                                                    class="btn btn-default btn-outline">
                                                                                <span class="fa fa-plus"></span> Add
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="portlet-body no-more-tables">
                                                                        <div class="table-responsive">
                                                                            <table class="table table-bordered table-striped table-condensed table-hover cf">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>Filename</th>
                                                                                    <th>Size</th>
                                                                                    <th>Uploaded</th>
                                                                                    <th>Remove</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span class="fa fa-file-pdf-o"></span>
                                                                                        <a
                                                                                                href="#">Document1.pdf</a>
                                                                                    </td>
                                                                                    <td>1.1 MB</td>
                                                                                    <td>12/3/2015</td>
                                                                                    <td class="text-center"><a
                                                                                                href="#"><span
                                                                                                    class="fa fa-trash"></span></a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span class="fa fa-file-text-o"></span>
                                                                                        <a
                                                                                                href="#">List.txt</a>
                                                                                    </td>
                                                                                    <td>110 KB</td>
                                                                                    <td>15/3/2015</td>
                                                                                    <td class="text-center"><a
                                                                                                href="#"><span
                                                                                                    class="fa fa-trash"></span></a>
                                                                                    </td>
                                                                                </tr>

                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet light">
                                                                    <div class="portlet-title">
                                                                        <div class="caption">
                                                                            Planning Documents
                                                                        </div>
                                                                        <div class="actions">
                                                                            <button type="button"
                                                                                    class="btn btn-default btn-outline">
                                                                                <span class="fa fa-plus"></span> Add
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="portlet-body no-more-tables">
                                                                        <div class="table-responsive">
                                                                            <table class="table table-bordered table-striped table-condensed table-hover cf">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>Filename</th>
                                                                                    <th>Size</th>
                                                                                    <th>Uploaded</th>
                                                                                    <th>Remove</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span class="fa fa-file-pdf-o"></span>
                                                                                        <a
                                                                                                href="#">Document1.pdf</a>
                                                                                    </td>
                                                                                    <td>1.1 MB</td>
                                                                                    <td>12/3/2015</td>
                                                                                    <td class="text-center"><a
                                                                                                href="#"><span
                                                                                                    class="fa fa-trash"></span></a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span class="fa fa-file-text-o"></span>
                                                                                        <a
                                                                                                href="#">List.txt</a>
                                                                                    </td>
                                                                                    <td>110 KB</td>
                                                                                    <td>15/3/2015</td>
                                                                                    <td class="text-center"><a
                                                                                                href="#"><span
                                                                                                    class="fa fa-trash"></span></a>
                                                                                    </td>
                                                                                </tr>

                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="portlet box green-haze">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                Entity / Department logistic details
                                                            </div>
                                                            <div class="tools">
                                                                <a title="" data-original-title="" href="javascript:;"
                                                                   class="collapse"></a>
                                                            </div>
                                                            <div class="actions">
                                                                <a class="btn btn-default btn-outline"
                                                                   data-toggle="modal"
                                                                   data-target="#department_modal">
                                                                    <i class="fa fa-gear"></i> <span
                                                                            class=""> Edit</span></a>
                                                            </div>
                                                            <div class="actions">&nbsp;</div>
                                                            <div class="actions">
                                                                <a href="javascript:;"
                                                                   class="btn btn-default btn-outline tooltips"
                                                                   data-original-title="Help Text">
                                                                    <i class="fa fa-question"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-md-7 col-sm-7">
                                                                        <p style="line-height: 25px">
                                                                            <strong>Entity/Department name:</strong>
                                                                            Logistic<br>
                                                                            <strong>Address:</strong> An Address Here,
                                                                            Estonia,
                                                                            45333<br>
                                                                            <strong>Telephone:</strong> +372
                                                                            58954895<br>
                                                                            <strong>Email:</strong> logDep@kob.ee<br>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-md-5 col-sm-5">
                                                                        <strong>Main Contact</strong><br>
                                                                        <strong>Name:</strong> Roberto Zambelli<br>
                                                                        <strong>Position:</strong> CTO<br>
                                                                        <strong>Email:</strong> roberto@recursive.ee<br>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="portlet light">
                                                                            <div class="portlet-title">
                                                                                <div class="caption">
                                                                                    Additional Info
                                                                                </div>
                                                                            </div>
                                                                            <div class="portlet-body no-more-tables">
                                                                                <p>moreeelorem lorem lorem lorem lorem
                                                                                    lorem lorem
                                                                                    lorem
                                                                                    lorem lorem lorem lorem lorem lorem
                                                                                    lorem lorem
                                                                                    lorem lorem lorem lorem lorem lorem
                                                                                    lorem lorem
                                                                                    lorem
                                                                                    lorem lorem lorem lorem lorem lorem
                                                                                    lorem lorem
                                                                                    lorem lorem lorem lorem lorem lorem
                                                                                    lorem lorem
                                                                                    lorem
                                                                                    lorem lorem lorem lorem</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="portlet box green-haze">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                Associated Audit Risks
                                                            </div>
                                                            <div class="tools">
                                                                <a title="" data-original-title="" href="javascript:;"
                                                                   class="expand"></a>
                                                            </div>
                                                            <div class="actions">
                                                                <a class="btn btn-default btn-outline"
                                                                   data-toggle="modal"
                                                                   data-target="#risks_modal">
                                                                    <i class="fa fa-gear"></i> <span
                                                                            class=" "> Edit</span></a>
                                                            </div>
                                                            <div class="actions">&nbsp;</div>
                                                            <div class="actions">
                                                                <a href="javascript:;"
                                                                   class="btn btn-default btn-outline tooltips"
                                                                   data-original-title="Help Text">
                                                                    <i class="fa fa-question"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body" style="display: none;">
                                                            <div class="scroller" style="height:200px">
                                                                <table class="table table-bordered table-striped table-condensed table-hover">
                                                                    <thead>
                                                                    <tr>
                                                                        <th width="10%">#</th>
                                                                        <th width="20%">Name</th>
                                                                        <th width="10%">Status</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td><a href="#">1</a></td>
                                                                        <td><a href="#">Risk Name</a></td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-info">status 2</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">2</a></td>
                                                                        <td><a href="#">Risk Name</a></td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-info">status 2</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">3</a></td>
                                                                        <td><a href="#">Risk Name</a></td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-info">status 2</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">4</a></td>
                                                                        <td><a href="#">Risk Name</a></td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-info">status 2</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">5</a></td>
                                                                        <td><a href="#">Risk Name</a></td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-info">status 2</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">6</a></td>
                                                                        <td><a href="#">Risk Name</a></td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-info">status 2</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">7</a></td>
                                                                        <td><a href="#">Risk Name</a></td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-info">status 2</span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="portlet box green-haze">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                Business Processes Covered
                                                            </div>
                                                            <div class="tools">
                                                                <a title="" data-original-title="" href="javascript:;"
                                                                   class="expand"></a>
                                                            </div>
                                                            <div class="actions">&nbsp;</div>
                                                            <div class="actions">
                                                                <a href="javascript:;"
                                                                   class="btn btn-default btn-outline tooltips"
                                                                   data-original-title="Help Text">
                                                                    <i class="fa fa-question"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body" style="display: none;">
                                                            <div class="scroller" style="height:200px">
                                                                <table class="table table-bordered table-striped table-condensed table-hover">
                                                                    <thead>
                                                                    <tr>
                                                                        <th width="10%">#</th>
                                                                        <th width="20%">Process</th>
                                                                        <th width="10%">Status</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Quote to Cash (Sales)</td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-success">covered</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td>Forecast to Delivery (Budget)</td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-success">covered</span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="portlet box green-haze">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                Team and Distribution
                                                            </div>
                                                            <div class="tools">
                                                                <a title="" data-original-title="" href="javascript:;"
                                                                   class="expand"></a>
                                                            </div>
                                                            <div class="actions">
                                                                <a href="javascript:;"
                                                                   class="btn btn-default btn-outline tooltips"
                                                                   data-original-title="Help Text">
                                                                    <i class="fa fa-question"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body" style="display: none;">
                                                            <div class="portlet light">
                                                                <div class="portlet-title">
                                                                    <div class="caption">
                                                                        Audit Team
                                                                    </div>
                                                                    <div class="actions">
                                                                        <a class="btn btn-default btn-outline"
                                                                           data-toggle="modal"
                                                                           data-target="#audit_team_modal">
                                                                            <i class="fa fa-gear"></i> <span
                                                                                    class=" "> Edit</span></a>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body">
                                                                    <div class="scroller" style="height:135px">
                                                                        <table class="table table-bordered table-striped table-condensed table-hover">
                                                                            <thead>
                                                                            <tr>
                                                                                <th width="10%">#</th>
                                                                                <th width="20%">Name</th>
                                                                                <th width="10%">Role</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr>
                                                                                <td><a href="#">1</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">2</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">3</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">4</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">5</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">6</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="portlet light">
                                                                <div class="portlet-title">
                                                                    <div class="caption">
                                                                        Management Team
                                                                    </div>
                                                                    <div class="actions">
                                                                        <a class="btn btn-default btn-outline"
                                                                           data-toggle="modal"
                                                                           data-target="#management_team_modal">
                                                                            <i class="fa fa-gear"></i> <span
                                                                                    class=" "> Edit</span></a>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body">
                                                                    <div class="scroller" style="height:135px">
                                                                        <table class="table table-bordered table-striped table-condensed table-hover">
                                                                            <thead>
                                                                            <tr>
                                                                                <th width="10%">#</th>
                                                                                <th width="20%">Name</th>
                                                                                <th width="10%">Role</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr>
                                                                                <td><a href="#">1</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">2</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">3</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">4</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">5</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="#">6</a></td>
                                                                                <td>Full name</td>
                                                                                <td>A Role here</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: life time stats -->
                            </div>
                            <div class="tab-pane" id="tab_15_2">
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject font-green-sharp bold uppercase">Audit Title - Tasks</span>
                                        </div>
                                        <div class="actions btn-set">
                                            <a class="btn green-haze" id="task-add" href="?r=task_detail"><span
                                                        class="fa fa-upload"></span> Import</a>
                                            <a class="btn green-haze" id="task-add" href="?r=task_detail"><span
                                                        class="fa fa-plus"></span> Add Task</a>
                                        </div>
                                    </div>
                                    <div id="tasks_table_wrapper" class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover" id="tasks_table">
                                            <thead>
                                            <tr>
                                                <th width="2%" class="table-checkbox">
                                                    <input type="checkbox" class="group-checkable"
                                                           data-set="#tasks_table .checkboxes"/>
                                                </th>
                                                <th>
                                                    Task Name (Task ID)
                                                </th>
                                                <th>
                                                    Business Process
                                                </th>
                                                <th>
                                                    Status
                                                </th>
                                                <th>
                                                    Assigned to
                                                </th>
                                                <th>
                                                    Reviewed by
                                                </th>
                                                <th>
                                                    Review Flag
                                                </th>
                                                <th>
                                                    Created at
                                                </th>
                                                <th>
                                                    Modified at
                                                </th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="odd gradeX" role="row">
                                                <td><input type="checkbox" class="checkboxes" value="1"/></td>
                                                <td><a href="?r=task_detail">Task Name I (99394)</a></td>
                                                <td>Hire to Retire</td>
                                                <td><span class="label label-sm label-success">status 1</span></td>
                                                <td>Roberto</td>
                                                <td>Nick</td>
                                                <td class="text-center"><i class="fa fa-check"></i></td>
                                                <td>1/1/2011</td>
                                                <td>2/4/2013</td>
                                                <td><a href="?r=task_detail" class="btn btn-xs btn-warning"><i
                                                                class="fa fa-pencil"></i> Edit</a></td>
                                            </tr>
                                            <tr class="even gradeX" role="row">
                                                <td><input type="checkbox" class="checkboxes" value="1"/></td>
                                                <td><a href="?r=task_detail">Task Name I (87856)</a></td>
                                                <td>Hire to Retire</td>
                                                <td><span class="label label-sm label-success">status 1</span></td>
                                                <td>Roberto</td>
                                                <td>Nick</td>
                                                <td class="text-center"><i class="fa fa-check"></i></td>
                                                <td>1/1/2011</td>
                                                <td>2/4/2013</td>
                                                <td><a href="?r=task_detail" class="btn btn-xs btn-warning"><i
                                                                class="fa fa-pencil"></i> Edit</a></td>
                                            </tr>
                                            <tr class="odd gradeX" role="row">
                                                <td><input type="checkbox" class="checkboxes" value="1"/></td>
                                                <td><a href="?r=task_detail">Task Name II (98797)</a></td>
                                                <td>Hire to Retire</td>
                                                <td><span class="label label-sm label-success">status 1</span></td>
                                                <td>Roberto</td>
                                                <td>Nick</td>
                                                <td class="text-center"><i class="fa fa-check"></i></td>
                                                <td>1/1/2011</td>
                                                <td>2/4/2013</td>
                                                <td><a href="?r=task_detail" class="btn btn-xs btn-warning"><i
                                                                class="fa fa-pencil"></i> Edit</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_15_3">
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject font-green-sharp bold uppercase">Audit Title - Issues</span>
                                        </div>
                                        <div class="actions btn-set">
                                            <a class="btn green-haze" id="task-add" data-toggle="modal"
                                               data-target="#issues_modal"><span
                                                        class="fa fa-plus"></span> Add Issue</a>
                                        </div>
                                    </div>
                                    <div id="issues_table_wrapper" class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover" id="issues_table">
                                            <thead>
                                            <tr>
                                                <th width="2%" class="table-checkbox">
                                                    <input type="checkbox" class="group-checkable"
                                                           data-set="#issues_table .checkboxes"/>
                                                </th>
                                                <th>
                                                    Task Name (Task ID)
                                                </th>
                                                <th>
                                                    Issue ID
                                                </th>
                                                <th>
                                                    Issue Name
                                                </th>
                                                <th>
                                                    Business Process
                                                </th>
                                                <th>
                                                    Date Raised
                                                </th>
                                                <th>
                                                    Impact
                                                </th>
                                                <th>
                                                    Fraud Red Flag
                                                </th>
                                                <th>
                                                    Follow-up
                                                </th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="odd gradeX" role="row">
                                                <td><input type="checkbox" class="checkboxes" value="1"/></td>
                                                <td><a href="?r=task_detail">Task Name I (99394)</a></td>
                                                <td><a href="?r=task_detail">214</a></td>
                                                <td><a data-toggle="modal" data-target="#issues_modal">Issue Name I</a>
                                                </td>
                                                <td>Hire to Retire</td>
                                                <td>1/1/2011</td>
                                                <td><span class="label label-sm label-success">impact 1</span></td>
                                                <td class="text-center"><i class="fa fa-check"></i></td>
                                                <td class="text-center"><i class="fa fa-check"></i></td>
                                                <td><a data-toggle="modal" data-target="#issues_modal"
                                                       class="btn btn-xs btn-warning"><i
                                                                class="fa fa-pencil"></i> Edit</a></td>
                                            </tr>
                                            <tr class="even gradeX" role="row">
                                                <td><input type="checkbox" class="checkboxes" value="1"/></td>
                                                <td><a href="?r=task_detail">Task Name II (9394)</a></td>
                                                <td><a href="?r=task_detail">474</a></td>
                                                <td><a data-toggle="modal" data-target="#issues_modal">Issue Name
                                                        III</a></td>
                                                <td>Hire to Retire</td>
                                                <td>1/1/2011</td>
                                                <td><span class="label label-sm label-success">impact 1</span></td>
                                                <td class="text-center"><i class="fa fa-check"></i></td>
                                                <td class="text-center"><i class="fa fa-times"></i></td>
                                                <td><a data-toggle="modal" data-target="#issues_modal"
                                                       class="btn btn-xs btn-warning"><i
                                                                class="fa fa-pencil"></i> Edit</a></td>
                                            </tr>
                                            <tr class="odd gradeX" role="row">
                                                <td><input type="checkbox" class="checkboxes" value="1"/></td>
                                                <td><a href="?r=task_detail">Task Name I (13394)</a></td>
                                                <td><a href="?r=task_detail">426</a></td>
                                                <td><a data-toggle="modal" data-target="#issues_modal">Issue Name I</a>
                                                </td>
                                                <td>Hire to Retire</td>
                                                <td>1/1/2011</td>
                                                <td><span class="label label-sm label-success">impact 1</span></td>
                                                <td class="text-center"><i class="fa fa-check"></i></td>
                                                <td class="text-center"><i class="fa fa-times"></i></td>
                                                <td><a data-toggle="modal" data-target="#issues_modal"
                                                       class="btn btn-xs btn-warning"><i
                                                                class="fa fa-pencil"></i> Edit</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#MODALS HERE#}
            {% include "audit_modals.twig" %}
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{{ assets('assets/global/plugins/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
    <script src="{{ assets('assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>
    <script src="{{ assets('assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ assets('assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js') }}"
            type="text/javascript"></script>
    <script src="{{ assets('assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/plugins/icheck/icheck.min.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/scripts/datatable.js') }}"></script>
    <script src="{{ assets('assets/admin/pages/scripts/audit-management.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
            TaskManagement.init();
            $('.date-picker').datepicker();
            $('#my_multi_select1').multiSelect({cssClass: "full-width"});
            $('#my_multi_select2').multiSelect({cssClass: "full-width"});
            /*$('#tasks_modal_table').dataTable({

             // Internationalisation. For more info refer to http://datatables.net/manual/i18n
             "language": {
             "aria": {
             "sortAscending": ": activate to sort column ascending",
             "sortDescending": ": activate to sort column descending"
             },
             "emptyTable": "No data available in table",
             "info": "Showing _START_ to _END_ of _TOTAL_ records",
             "infoEmpty": "No records found",
             "infoFiltered": "(filtered1 from _MAX_ total records)",
             "lengthMenu": "Show _MENU_ records",
             "search": "Search:",
             "zeroRecords": "No matching records found"
             },

             // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
             // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
             // So when dropdowns used the scrollable div should be removed.
             //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

             "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

             "lengthMenu": [
             [5, 15, 20, -1],
             [5, 15, 20, "All"] // change per page values here
             ],
             // set the initial value
             "pageLength": 5,
             "columnDefs": [{  // set default column settings
             'orderable': false,
             'targets': [0]
             }, {
             "searchable": false,
             "targets": [0]
             }],
             "order": [
             [1, "asc"]
             ] // set first column as a default sort by asc
             });*/
        });
    </script>
{% endblock %}
