{#create_report_modal USED#}
<div id="create_report_modal" class="modal-md modal modal-dialog fade" tabindex="-1">
    <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Create Audit Report</span>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form role="form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Include in report distribution</label>
                                <br>

                                <div class="input-group">
                                    <div class="icheck-list">
                                        <label>
                                            <input type="checkbox" checked class="icheck"
                                                   data-checkbox="icheckbox_flat-green">
                                            Tasks
                                        </label>
                                        <label>
                                            <input type="checkbox" checked class="icheck"
                                                   data-checkbox="icheckbox_flat-green">
                                            Issues
                                        </label>
                                        <label>
                                            <input type="checkbox" class="icheck" data-checkbox="icheckbox_flat-green">
                                            Audit team
                                        </label>
                                        <label>
                                            <input type="checkbox" class="icheck" data-checkbox="icheckbox_flat-green">
                                            Management team
                                        </label>
                                        <label>
                                            <input type="checkbox" class="icheck" data-checkbox="icheckbox_flat-green">
                                            Corporate team
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    File type</label>
                                <br>

                                <div class="input-group">
                                    <div class="icheck-list">
                                        <label>
                                            <input name="file_type" type="radio" checked class="icheck"
                                                   data-radio="iradio_flat-green">
                                            .pdf
                                        </label>
                                        <label>
                                            <input type="radio" name="file_type" class="icheck"
                                                   data-radio="iradio_flat-green">
                                            .xls
                                        </label>
                                        <label>
                                            <input type="radio" name="file_type" class="icheck"
                                                   data-radio="iradio_flat-green">
                                            .doc
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Report Type</label>
                                <br>

                                <div class="input-group">
                                    <div class="icheck-list">
                                        <label>
                                            <input name="report_type" type="radio" class="icheck"
                                                   data-radio="iradio_flat-green" checked>
                                            Draft
                                        </label>
                                        <label>
                                            <input name="report_type" type="radio" checked class="icheck"
                                                   data-radio="iradio_flat-green">
                                            Final
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn green-haze">Export</button>
        </div>
    </div>
</div>

{#issues_modal#}
<div id="issues_modal" class="modal-lg modal modal-dialog fade" tabindex="-1">
    <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Identified Issues</span>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <form role="form">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Title</label>
                                <input type="text" class="form-control input-sm">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Issue ID</label>
                                <input type="text" class="form-control input-sm">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date Raised</label>
                                <input type="text" class="form-control date-picker input-sm"
                                       data-date-format="mm/dd/yyyy">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Impact</label>
                                <select class="input-sm form-control">
                                    <option>Huge</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>
                            <label>
                                <input type="checkbox" class="icheck"
                                       data-checkbox="icheckbox_flat-red">
                                Fraud Red Flag
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea rows="5" class="form-control input-sm" placeholder="Issue Description"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea rows="5" class="form-control input-sm" placeholder="Recommended Action"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea rows="5" class="form-control input-sm" placeholder="Management Comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-9 col-sm-9 text-left">
                    <h5>Created: 25/11/2015 by Roberto Zambelli</h5>
                    <h5>Modified: 13/12/2015 by Roberto Zambelli</h5>
                </div>
                <div class="col-md-3 col-sm-3">
                    <label>
                        <input type="checkbox" class="icheck"
                               data-checkbox="icheckbox_flat">
                        Follow-up Required
                    </label>

                    <div class="clearfix"></div>
                    <label>
                        <input type="checkbox" class="icheck"
                               data-checkbox="icheckbox_flat">
                        Exclude from Report
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-success">Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
    </div>
</div>

{#issues_modal OLD#}
<div id="issues_modal_old" class="modal-lg modal modal-dialog fade" tabindex="-1">
    <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Issues Log</span>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Create new Issue
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input type="text" class="form-control input-sm">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <textarea rows="4" class="form-control input-sm"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Importance</label>
                                        <select class="input-sm form-control">
                                            <option>Important</option>
                                            <option>Medium</option>
                                            <option>Low</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success pull-right">Create</button>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>Current Issues</h4>
                    <table class="table table-bordered table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th width="10%">#</th>
                            <th width="20%">Task</th>
                            <th width="50%">Description</th>
                            <th width="10%">Importance</th>
                            <th width="10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Issule name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><span
                                        class="label label-sm label-info">Low</span>
                            </td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Issue name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><span
                                        class="label label-sm label-info">Low</span>
                            </td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Issue name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><span
                                        class="label label-sm label-danger">Important</span>
                            </td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Issue name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><span
                                        class="label label-sm label-warning">Medium</span>
                            </td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
    </div>
</div>

{#tasks_modal#}
<div id="tasks_modal" class="modal-lg modal modal-dialog fade" tabindex="-1">
    <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Tasks</span>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Create new Task
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input type="text" class="form-control input-sm">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <textarea rows="4" class="form-control input-sm"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success pull-right">Create</button>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>Current Tasks</h4>
                    <table id="tasks_modal_table"
                           class="table table-bordered table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th width="10%">#</th>
                            <th width="20%">Task</th>
                            <th width="50%">Description</th>
                            <th width="10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Task name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Task name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Task name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Task name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
    </div>
</div>

{# business_proc_modal USED#}
<div id="business_proc_modal" class="modal-lg modal modal-dialog fade" tabindex="-1">
    <form role="form">
        <div class="modal-header green">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <span class="modal-title">Business Processes Covered</span>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="help-block">
                                    Click the Business Processes that covered already.
                                </div>
                                <div class="col-md-12">
                                    <select multiple="multiple" class="multi-select" id="my_multi_select2"
                                            name="my_multi_select2[]">
                                        <option>Procure to Pay (Procurement)</option>
                                        <option>Idea to Offering (Strategy/Development)
                                        </option>
                                        <option>Market to Order (Marketing)</option>
                                        <option>Quote to Cash (Sales)</option>
                                        <option>Return Material Authorization (Sales
                                            Returns)
                                        </option>
                                        <option>Forecast to Delivery (Budget)</option>
                                        <option>Financial Plan to Report (Fin. Reporting)
                                        </option>
                                        <option>Issue to Resolution (Customer Service)
                                        </option>
                                        <option>Plan to Inventory (Manufacturing)</option>
                                        <option>Assess to Acquire (Acquisitions)</option>
                                        <option>Acquire to Retire (Fixed Assets)</option>
                                        <option>Hire to Retire (HR)</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" class="btn green-haze">Save changes</button>
            </div>
        </div>
    </form>
</div>

{#risks_modal USED#}
<div id="risks_modal" class="modal-md modal modal-dialog fade" tabindex="-1">
    <form role="form">
        <div class="modal-header green">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <span class="modal-title">Associated Audit Risks</span>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="help-block">
                                    Click the risks that Audit Detail attached.
                                </div>
                                <div class="col-md-12">
                                    <select multiple="multiple" class="multi-select" id="my_multi_select1"
                                            name="my_multi_select1[]">
                                        <option>Risk name 1</option>
                                        <option>Risk name 2</option>
                                        <option>Risk name 3</option>
                                        <option>Risk name 4</option>
                                        <option>Risk name 5</option>
                                        <option>Risk name 6</option>
                                        <option>Risk name 7</option>
                                        <option>Risk name 8</option>
                                        <option>Risk name 9</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" class="btn green-haze">Save changes</button>
            </div>
        </div>
    </form>
</div>

{#department_modal USED#}
<div id="department_modal" class="modal-lg modal modal-dialog fade" tabindex="-1">
    <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Manage Department</span>
    </div>
    <form role="form">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row margin-top-10">
                            <label class="col-md-4 col-sm-4">Department Name</label>

                            <div class="col-md-6 col-sm-6">
                                <select class="form-control input-sm" name="department_name">
                                    <option>...</option>
                                    <option>Department I</option>
                                    <option>Department II</option>
                                    <option>Department III</option>
                                </select>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <label class="col-md-4 col-sm-4">Address</label>

                            <div class="col-md-6 col-sm-6">
                                <input type="text" name="dep_address" class="form-control input-sm" required>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <label class="col-md-4 col-sm-4">Phone Number</label>

                            <div class="col-md-6 col-sm-6">
                                <input type="tel" name="dep_phone_number" class="form-control input-sm" required>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <label class="col-md-4 col-sm-4">Email</label>

                            <div class="col-md-6 col-sm-6">
                                <input type="email" name="dep_email" class="form-control input-sm" required>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <label class="col-md-4 col-sm-4">Additional Info</label>

                            <div class="col-md-6 col-sm-6">
                                <input type="text" name="additional_info" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <label class="control-label col-md-4">Department Logo</label>

                            <div class="col-md-6">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group input-group-sm">
                                        <div class="form-control uneditable-input input-fixed input-medium"
                                             data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>&nbsp; <span
                                                    class="fileinput-filename">
											</span>
                                        </div>
                                        <br>
										<span class="input-group-addon btn default btn-file">
										<span class="fileinput-new">
										Select file </span>
										<span class="fileinput-exists">
										Change </span>
										<input type="file" name="...">
										</span>
                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists"
                                           data-dismiss="fileinput">
                                            Remove </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr>
                            <div class="row margin-top-10">
                                <label class="col-md-4 col-sm-4">Main Contact</label>

                                <div class="col-md-6 col-sm-6">
                                    <div class="input-group  input-group-sm">
                                        <input class="form-control" name="main_contact_name" type="text"
                                               placeholder="full name">
                                        <span class="input-group-addon"></span>
                                        <input class="form-control" name="main_contact_position" type="text"
                                               placeholder="position">
                                        <span class="input-group-addon"></span>
                                        <input class="form-control" name="main_contact_email" type="text"
                                               placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" class="btn green-haze">Save changes</button>
            </div>
        </div>
    </form>
</div>

{# audit_team_modal USED#}
<div id="audit_team_modal" class="modal modal-dialog modal-lg fade" tabindex="-1">
    <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Add/Delete Users to the Team</span>
    </div>
    <form role="form">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>User</th>
                                <th>Full name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Add to Report</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td><input name="users[]" class="form-control input-sm"
                                           placeholder="Autocomplete info" type="text"></td>
                                <td><input type="text" name="tm_name[]" class="form-control input-sm"></td>
                                <td><input type="email" name="tm_email[]" class="form-control input-sm"></td>
                                <td><select class="form-control input-sm">
                                        <option></option>
                                        <option>Role 1</option>
                                        <option>Role 2</option>
                                        <option>Role 3</option>
                                    </select>
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><input name="users[]" class="form-control input-sm"
                                           placeholder="Autocomplete info" type="text"></td>
                                <td><input type="text" name="tm_name[]" class="form-control input-sm"></td>
                                <td><input type="email" name="tm_email[]" class="form-control input-sm"></td>
                                <td><select class="form-control input-sm">
                                        <option></option>
                                        <option>Role 1</option>
                                        <option>Role 2</option>
                                        <option>Role 3</option>
                                    </select>
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><input name="users[]" class="form-control input-sm"
                                           placeholder="Autocomplete info" type="text"></td>
                                <td><input type="text" name="tm_name[]" class="form-control input-sm"></td>
                                <td><input type="email" name="tm_email[]" class="form-control input-sm"></td>
                                <td><select class="form-control input-sm">
                                        <option></option>
                                        <option>Role 1</option>
                                        <option>Role 2</option>
                                        <option>Role 3</option>
                                    </select>
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><input name="users[]" class="form-control input-sm"
                                           placeholder="Autocomplete info" type="text"></td>
                                <td><input type="text" name="tm_name[]" class="form-control input-sm"></td>
                                <td><input type="email" name="tm_email[]" class="form-control input-sm"></td>
                                <td><select class="form-control input-sm">
                                        <option></option>
                                        <option>Role 1</option>
                                        <option>Role 2</option>
                                        <option>Role 3</option>
                                    </select>
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><input name="users[]" class="form-control input-sm"
                                           placeholder="Autocomplete info" type="text"></td>
                                <td><input type="text" name="tm_name[]" class="form-control input-sm"></td>
                                <td><input type="email" name="tm_email[]" class="form-control input-sm"></td>
                                <td><select class="form-control input-sm">
                                        <option></option>
                                        <option>Role 1</option>
                                        <option>Role 2</option>
                                        <option>Role 3</option>
                                    </select>
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><input name="users[]" class="form-control input-sm"
                                           placeholder="Autocomplete info" type="text"></td>
                                <td><input type="text" name="tm_name[]" class="form-control input-sm"></td>
                                <td><input type="email" name="tm_email[]" class="form-control input-sm"></td>
                                <td><select class="form-control input-sm">
                                        <option></option>
                                        <option>Role 1</option>
                                        <option>Role 2</option>
                                        <option>Role 3</option>
                                    </select>
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn green-haze">Save changes</button>
        </div>
    </form>
</div>

{# management_team_modal USED#}
<div id="management_team_modal" class="modal modal-dialog modal-lg fade" tabindex="-1">
    <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Management Team</span>
    </div>
    <form role="form">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Full name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Inc. in the report</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td><input name="names[]" class="form-control input-sm"
                                           placeholder="type here" type="text"></td>
                                <td><input name="emails[]" class="form-control input-sm"
                                           placeholder="e-mail here" type="text">
                                </td>
                                <td>
                                    <input name="roles[]" class="form-control input-sm"
                                           placeholder="role name here" type="text">
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><input name="names[]" class="form-control input-sm"
                                           placeholder="type here" type="text"></td>
                                <td><input name="emails[]" class="form-control input-sm"
                                           placeholder="e-mail here" type="text">
                                </td>
                                <td>
                                    <input name="roles[]" class="form-control input-sm"
                                           placeholder="role name here" type="text">
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><input name="names[]" class="form-control input-sm"
                                           placeholder="type here" type="text"></td>
                                <td><input name="emails[]" class="form-control input-sm"
                                           placeholder="e-mail here" type="text">
                                </td>
                                <td>
                                    <input name="roles[]" class="form-control input-sm"
                                           placeholder="role name here" type="text">
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><input name="names[]" class="form-control input-sm"
                                           placeholder="type here" type="text"></td>
                                <td><input name="emails[]" class="form-control input-sm"
                                           placeholder="e-mail here" type="text">
                                </td>
                                <td>
                                    <input name="roles[]" class="form-control input-sm"
                                           placeholder="role name here" type="text">
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><input name="names[]" class="form-control input-sm"
                                           placeholder="type here" type="text"></td>
                                <td><input name="emails[]" class="form-control input-sm"
                                           placeholder="e-mail here" type="text">
                                </td>
                                <td>
                                    <input name="roles[]" class="form-control input-sm"
                                           placeholder="role name here" type="text">
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><input name="names[]" class="form-control input-sm"
                                           placeholder="type here" type="text"></td>
                                <td><input name="emails[]" class="form-control input-sm"
                                           placeholder="e-mail here" type="text">
                                </td>
                                <td>
                                    <input name="roles[]" class="form-control input-sm"
                                           placeholder="role name here" type="text">
                                </td>
                                <td class="text-center"><input name="team_include_report[]"
                                                               class="input-sm form-control" type="checkbox"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn green-haze">Save changes</button>
        </div>
    </form>
</div>
