<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta charset="utf-8"/>
    <title>{% block page_title%}#kob{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    {% block global_styles %}
    <!-- BEGIN GLOBAL STYLES -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
              type="text/css"/>
    <link href="{{ assets('assets/global/plugins/font-awesome/css/font-awesome.min.css')}}"  rel="stylesheet" type="text/css" />
    <link href="{{ assets('assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{ assets('assets/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet"
              type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL STYLES -->
    {% endblock %}
    {% block plugins_styles %}{% endblock %}
    {% block page_styles %}{% endblock %}
    {% block theme_styles %}{% endblock %}
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
{% endblock %}

<!-- BEGIN BODY -->
{% block body %}
    <body class="{% block body_class %}{% endblock %}">
    <!-- BEGIN MAIN LAYOUT -->
    {% block page_wrapper %}
        <div class="wrapper">
        <!--  BEGIN HEADER  -->
        {% block page_header %}{% endblock %}
        <!-- END HEADER -->
        <!--  BEGIN PAGE CONTAINER  -->
        {% block page_container %}{% endblock %}
        <!--  END PAGE CONTAINER  -->
        <!--  BEGIN PRE-FOOTER -->
        {% block page_pre_footer %}{% endblock %}
        <!-- END-PRE-FOOTER -->
        <!--  BEGIN FOOTER -->
        {% block page_footer %}{% endblock %}
        <!-- END-FOOTER -->
        {% block global_scripts %}
            <!-- BEGIN CORE PLUGINS -->
            <!--[if lt IE 9]>
            <script src="{{ assets('assets/global/plugins/respond.min.js') }}"></script>
            <script src="{{ assets('assets/global/plugins/excanvas.min.js') }}"></script>
            <![endif]-->
            <script src="{{ assets('assets/global/plugins/jquery.min.js')}}" type="text/javascript"></script>
            <script src="{{ assets('assets/global/plugins/jquery-migrate.min.js')}}" type="text/javascript"></script>
            <script src="{{ assets('assets/global/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
            <script src="{{ assets('assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
            <script src="{{ assets('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
            <script src="{{ assets('assets/global/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>
            <script src="{{ assets('assets/global/plugins/jquery.cokie.min.js')}}" type="text/javascript"></script>
            <script src="{{ assets('assets/global/plugins/uniform/jquery.uniform.min.js')}}" type="text/javascript"></script>
            <script src="{{ assets('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}" type="text/javascript"></script>

            {% block extrascripts %}


            {% endblock %}

            <!-- END CORE PLUGINS -->
        {% endblock %}
        </div>
        {% block wrapper_more %}{% endblock %}
    {% endblock %}
    <!-- END MAIN LAYOUT -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    {% block page_scripts %}{% endblock %}
    <!-- END PAGE LEVEL SCRIPTS -->

    <!-- Page navigator div // Remove before final deployment -->
    <!-- inline stile is only acceptable here because this block will be entirely removed -->
    <style>
        .global-navigator {
            position: fixed;
            width:600px;
            left: 50%;
            height: 550px;
            top: -530px;
            background-color: #ff7538;
            margin-left: -300px;
            border-radius: 2px;
            box-shadow: 1px 5px 15px rgba(0,0,0,0.7);
            z-index: 10000;
            transition: 0.5s;
        }

        .global-navigator:hover {
            top: 10px;
            background-color: #fff;
        }

        .navigator-label {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 0px;
        }

        .navigator-content {
            margin: 10px 10px 10px 10px;
        }
    </style>
    <div class="global-navigator">
        <div class="navigator-content" >
            <img src="http://www.recursive.ee/images/logo.png" style="max-height: 2em;"/>
            <br><br>
            <p>Use this panel (will be removed in the final design) to navigate through available UI screens. Each newly developed screen will be added to this menu.</p> 
            <p>Available screens:</p>
            <ul>
                <li><a href="?r=login" >Login</a></li>
                <li><a href="?r=index" >Main template backbone</a></li>
                <li><a href="?r=control_matrix" >Control Matrix</a></li>
                <li><a href="?r=control_detail" >Control Detail</a></li>
                <li><a href="?r=risk_matrix">Risk Matrix</a></li>
                <li><a href="?r=risk_detail">Risk Detail</a></li>
                <li><a href="?r=role_matrix">Roles Management</a></li>
                <li><a href="?r=compliance">Compliance Page</a></li>
                <li><a href="?r=audit_detail">Audit Detail</a></li>
                <li><a href="?r=calendar_gantt">Calendar</a></li>
                <li><a href="?r=task_detail">Task/Issue Page</a></li>
                <li><a href="?r=task_matrix">Task Matrix</a></li>
                <li><a href="?r=issue_matrix">Issue Matrix</a></li>
                <li><a href="landing/">Landing page</a></li>
            </ul>
        </div>

        <div class="navigator-label">
            <span class="fa fa-hand-o-down"></span>
            Hover mouse here to show UI navigator
        </div>
    </div>
    <!-- // end page navigator -->
    
    </body>
{% endblock %}
<!-- END BODY -->
</html>
