{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block page_styles %}
    <link href="{{ assets('assets/global/plugins/jQuery.Gantt/css/style.css') }}" rel="stylesheet"
          type="text/css"/>

{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li class="active">Home</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light calendar">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Calendar</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div id="calendar" class="gantt">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/plugins/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/plugins/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>

    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/plugins/jQuery.Gantt/js/jquery.fn.gantt.js') }}"
type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
            var today = moment();
            var andTwoDays = moment().add(2,"days");
            var andThreeDays = today.add(3, "days");
            var andOneMonth = andTwoDays.add(1, "months")
            console.log(today.toString()+ ": :"+today.add(2,'days').toString());

            $("#calendar").gantt({
            source:[
            {name: "Audit1", desc: "Planning",
            values: [{
                from: "/Date("+today.valueOf()+")/",
                to: "/Date("+today.add(2,'days')+")/",
                desc: "Something",
                label: "Audit1/ Planning",
                customClass: "ganttGreen"
                }]
            },
            {name: " ", desc: "Field work",
            values: [{
                from: "/Date("+today.valueOf()+")/",
                to: "/Date("+today.add(5,'days')+")/",
                desc: "Something",
                label: "Audit1/ Field work",
                customClass: "ganttRed"
                }]
                },
            {name: " ", desc: "Report",
            values: [{
                from: "/Date("+andThreeDays+")/",
                to: "/Date("+andOneMonth+")/",
                desc: "Something",
                label: "Audit1/ Report",
                customClass: "ganttOrange"
                }]
                },
            {name: "Audit2", desc: "Planning",
            values: [{
                from: "/Date("+today.valueOf()+")/",
                to: "/Date("+today.add(2,'days')+")/",
                desc: "Something",
                label: "Audit2/ Planning",
                customClass: "ganttGreen"
                }]
            },
            {name: " ", desc: "Field work",
            values: [{
                from: "/Date("+today.valueOf()+")/",
                to: "/Date("+today.add(5,'days')+")/",
                desc: "Something",
                label: "Audit2/ Field work",
                customClass: "ganttRed"
                }]
                },
            {name: " ", desc: "Report",
            values: [{
                from: "/Date("+andThreeDays+")/",
                to: "/Date("+andOneMonth+")/",
                desc: "Something",
                label: "Audit2/ Report",
                customClass: "ganttOrange"
                }]
                },
            {name: "Audit3", desc: "Planning",
            values: [{
                from: "/Date("+today.valueOf()+")/",
                to: "/Date("+today.add(2,'days')+")/",
                desc: "Something",
                label: "Audit3/ Planning",
                customClass: "ganttGreen"
                }]
            },
            {name: " ", desc: "Field work",
            values: [{
                from: "/Date("+today.valueOf()+")/",
                to: "/Date("+today.add(5,'days')+")/",
                desc: "Something",
                label: "Audit3/ Field work",
                customClass: "ganttRed"
                }]
                },
            {name: " ", desc: "Report",
            values: [{
                from: "/Date("+andThreeDays+")/",
                to: "/Date("+andOneMonth+")/",
                desc: "Something",
                label: "Audit3/ Report",
                customClass: "ganttOrange"
                }]
                }
            ],
            scale: "days",
            minScale: "hours",
            maxScale: "months",
            navigate: "scroll",
            itemsPerPage: 15
            });

        });
    </script>
{% endblock %}