{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block body_class %}compliance{% endblock %}
{% block page_styles %}
    <link href="{{ assets('assets/admin/pages/css/compliance.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li class="active">Compliance</li>
        </ol>
    </div>
    {% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Begin: life time stats -->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green-sharp bold uppercase ">Compliance</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="container-fluid">
                            <div class="row text-center">
            <div class="col-md-offset-1 col-sm-offset-2 col-md-2 col-sm-4">
                <div class="compliance-item">
                    <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <a class="hidden-md btn green-haze" href="#">Code Of Conduct</a>
                        <a class="visible-md btn green-haze" href="#">Conduct</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="compliance-item">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-money fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <a class="btn green-haze" href="#">Anti-Bribery</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="compliance-item">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bolt fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <a class="hidden-md btn green-haze" href="#">Whistleblowing</a>
                        <a class="visible-md btn green-haze" href="#">W/blowing</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="compliance-item">
                    <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-gift fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <a class="btn green-haze" href="#">Gift Register</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="compliance-item">
                    <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <a class="btn green-haze" href="#">SOX</a>
                    </h4>
                </div>
            </div>

        </div>
                    </div>
                    </div>
                </div>
             </div>
         </div>
         </div>
{% endblock %}

{% block page_scripts %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
        });
    </script>
{% endblock %}