{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block page_styles %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ assets('assets/global/plugins/select2/css/select2.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ assets('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li>
                <a href="#">ECM</a>
            </li>
            <li class="active">Control matrix</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="row">
            <div class="col-md-12">
                <!-- Begin: life time stats -->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green-sharp bold uppercase">Control Matrix</span>
                        </div>
                        <div class="actions" >
                            <input type="name" class="btn btn-default btn-circle actions-search"  name="query" placeholder="Search controls">
                        </div>
                        <div class="actions">
                            <a href="?r=control_detail" class="btn btn-default btn-circle">
                                <i class="fa fa-plus"></i>
								<span class="hidden-480">New Control</span>
                            </a>
                            <a href="javascript:;" class="btn btn-default btn-circle">
                                <i class="fa fa-edit"></i>
                                <span class="hidden-480">Edit </span>
                            </a>
                            <a href="javascript:;" class="btn btn-default btn-circle">
                                <i class="fa fa-archive"></i>
                                <span class="hidden-480">Archive </span>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-container">
                            <div class="table-actions-wrapper">
				
                            </div>
                            <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                                <thead>
                                <tr role="row" class="heading">
                                    <th width="2%">
                                        <input type="checkbox" class="group-checkable">
                                    </th>
                                    <th width="5%">
                                        ID
                                    </th>
                                    <th width="15%">
                                        Title
                                    </th>
                                    <th width="15%">
                                        Business Process
                                    </th>
                                    </th>
                                    <th width="15%">
                                        Status
                                    </th>
                                    <th width="10%">
                                        Type
                                    </th>
                                    <th width="10%">
                                        Frequency
                                    </th>
                                    <th width="10%">
                                        Response
                                    </th>
                                    <th width="10%">
                                        Actions
                                    </th>
                                </tr>
                                <tr role="row" class="datatable-filter">
                                    <td>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter " name="control_id"
                                               placeholder="ID">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter" name="control_name" placeholder="Filter name">
                                    </td>
                                    <td>
                                        <select name="business_process"
                                                class="form-control form-filter">
                                            <option>Select...</option>
                                            <option>Procure to Pay (Procurement)</option>
                                            <option>Idea to Offering (Strategy/Development)
                                            </option>
                                            <option>Market to Order (Marketing)</option>
                                            <option>Quote to Cash (Sales)</option>
                                            <option>Return Material Authorization (Sales
                                                Returns)
                                            </option>
                                            <option>Forecast to Delivery (Budget)</option>
                                            <option>Financial Plan to Report (Fin. Reporting)
                                            </option>
                                            <option>Issue to Resolution (Customer Service)
                                            </option>
                                            <option>Plan to Inventory (Manufacturing)</option>
                                            <option>Assess to Acquire (Acquisitions)</option>
                                            <option>Acquire to Retire (Fixed Assets)</option>
                                            <option>Hire to Retire (HR)</option>
                                            <option>Other</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="control_status" class="form-control form-filter ">
                                            <option value="">Select...</option>
                                            <option value="status1">Status 1</option>
                                            <option value="status2">Status 2</option>
                                            <option value="status3">Status 3</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="control_type" class="form-control form-filter">
                                            <option value="">Select...</option>
                                            <option value="type1">Type 1</option>
                                            <option value="type2">Type 2</option>
                                            <option value="type3">Type 3</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="margin-bottom-5">
                                            <input type="text" class="form-control form-filter" name="frequency_from" placeholder="Frequency filter"/>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter " name="control_something">
                                    </td>
                                    <td>
                                        <div class="margin-bottom-5">
                                            <button class="btn btn-sm blue filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                                        </div>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd" role="row">
                                    <td></td>
                                    <td><a href="#" >1</a></td>
                                    <td><a href="?r=control_detail">Control 1</a></td>
                                    <td>Forecast to Delivery</td>
                                    <td><span class="label label-sm label-success">status 1</span></td>
                                    <td>type 1</td>
                                    <td>2.05</td>
                                    <td>10/02/2015</td>
                                    <td><a href="?r=control_detail" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> Edit</a></td>
                                </tr>
                                <tr class="even" role="row">
                                    <td></td>
                                    <td><a href="#" >2</a></td>
                                    <td><a href="?r=control_detail">Control 2</a></td>
                                    <td>Forecast to Delivery</td>
                                    <td><span class="label label-sm label-danger">status 2</span></td>
                                    <td>type 2</td>
                                    <td>2.05</td>
                                    <td>10/02/2015</td>
                                    <td><a href="?r=control_detail" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> Edit</a></td>
                                </tr>
                                <tr class="odd" role="row">
                                    <td></td>
                                    <td><a href="#" >3</a></td>
                                    <td><a href="?r=control_detail">Control 3</a></td>
                                    <td>Forecast to Delivery</td>
                                    <td><span class="label label-sm label-info">status 3</span></td>
                                    <td>type 3</td>
                                    <td>2.05</td>
                                    <td>10/02/2015</td>
                                    <td><a href="?r=control_detail" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> Edit</a></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End: life time stats -->
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ assets('assets/global/plugins/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ assets('assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ assets('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/scripts/datatable.js') }}"></script>
    <script src="{{ assets('assets/admin/pages/scripts/table-ajax.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function() {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
            TableAjax.init();
        });
    </script>
{% endblock %}
