<div class="copyright text-center">
            &copy; 2015 - #KOB - Audit, Risk and Compliance - a <img height="15px" src="{{ assets('assets/recursive/img/3000_logo.png') }}"> solution - <a href="#">Terms and Conditions</a>
        </div>

