{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li class="active">Home</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
	<div class="page-content">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="dashboard-stat blue">
					<div class="visual">
						<i class="fa fa-users"></i>
					</div>
					<div class="details">
						<div class="number">
							<span data-counter="counterup" data-value="21">21</span>
						</div>
						<div class="desc">
							Open Issues
						</div>
					</div>
					<a class="more" href="?r=issue_matrix">
						View more <i class="m-icon-swapright m-icon-white"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="dashboard-stat red">
					<div class="visual">
						<i class="fa fa-bolt"></i>
					</div>
					<div class="details">
						<div class="number">
							<span data-counter="counterup" data-value="11">0</span>
						</div>
						<div class="desc">
							Active Risks
						</div>
					</div>
					<a class="more" href="?r=risk_matrix">
						View more <i class="m-icon-swapright m-icon-white"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
				<div class="dashboard-stat green">
					<div class="visual">
						<i class="fa fa-tasks"></i>
					</div>
					<div class="details">
						<div class="number">
							<span data-counter="counterup" data-value="9">0</span>
						</div>
						<div class="desc">
							Active Tasks
						</div>
					</div>
					<a class="more" href="?r=task_matrix">
						View more <i class="m-icon-swapright m-icon-white"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-share font-blue"></i>
							<span class="caption-subject font-blue bold uppercase">Recently edited Audits</span>
						</div>
					</div>
					<div class="portlet-body">
						<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
							<ul class="feeds">
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=audit_detail">'Audit Name' by Roberto.</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											Just now
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=audit_detail">'Audit Name' by Roberto.</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											20 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=audit_detail">'Audit Name' by Roberto.</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											3 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=audit_detail">'Audit Name' by Roberto.</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											3 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=audit_detail">'Audit Name' by Roberto.</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											3 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=audit_detail">'Audit Name' by Roberto.</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											3 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=audit_detail">'Audit Name' by Roberto.</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											3 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=audit_detail">'Audit Name' by Roberto.</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											3 hours
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-users"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=audit_detail">'Audit Name' by Roberto.</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											3 hours
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="scroller-footer">
							<div class="btn-arrow-link pull-right">
								<a href="javascript:;">See All Records</a>
								<i class="icon-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-tasks font-blue"></i>
							<span class="caption-subject font-blue bold uppercase">Recent Operations overview</span>
						</div>
					</div>
					<div class="portlet-body">
						<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
							<ul class="feeds">
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> is done by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											Just now
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> is done by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											Just now
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-plus"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> created by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											20 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> is done by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											Just now
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> is done by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											Just now
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-plus"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> created by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											20 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> is done by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											Just now
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> is done by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											Just now
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-plus"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> created by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											20 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> is done by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											Just now
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													<a href="?r=task_detail">'Task Name'</a> at <a
															href="?r=audit_detail">'Audit Name'</a> is done by Roberto.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											Just now
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="scroller-footer">
							<div class="btn-arrow-link pull-right">
								<a href="?r=task_matrix">See All Records</a>
								<i class="icon-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}

{% block page_scripts %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
	<script src="{{ assets('assets/global/plugins/counterup/jquery.waypoints.min.js') }}"
			type="text/javascript"></script>
	<script src="{{ assets('assets/global/plugins/counterup/jquery.counterup.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
		jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout

			if (!$().counterUp) {
				return;
			}

			$("[data-counter='counterup']").counterUp({
				delay: 10,
				time: 1000
			});
        });
    </script>
{% endblock %}
