{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block page_styles %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ assets('assets/global/plugins/select2/css/select2.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css') }}" rel="stylesheet"
          type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li>
                <a href="#">ECM</a>
            </li>
            <li class="active">Issue manager</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="container-fluid">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Issue Manager</span>
                            </div>
                            <div class="actions">
                                <input type="name" class="btn btn-default btn-circle actions-search" name="query"
                                       placeholder="Search issues">
                            </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-edit"></i>
                                    <span class="hidden-480">Edit </span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-archive"></i>
                                    <span class="hidden-480">Archive </span>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-container">
                                <div class="table-actions-wrapper">

                                </div>
                                <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                                    <thead>
                                    <tr role="row" class="heading">
                                        <th width="2%">
                                            <input type="checkbox" class="group-checkable">
                                        </th>
                                        <th>
                                            Audit ID
                                        </th>
                                        <th>
                                            Audit Name
                                        </th>
                                        <th>
                                            Task Name (Task ID)
                                        </th>
                                        <th>
                                            Issue ID
                                        </th>
                                        <th>
                                            Issue Name
                                        </th>
                                        <th>
                                            Business Process
                                        </th>
                                        <th>
                                            Date Raised
                                        </th>
                                        <th>
                                            Impact
                                        </th>
                                        <th>
                                            Fraud Red Flag
                                        </th>
                                        <th>
                                            Follow-up required
                                        </th>
                                    </tr>
                                    <tr role="row" class="datatable-filter">
                                        <td>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter " name="audit_id"
                                                   placeholder="Audit ID">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter" name="audit_name"
                                                   placeholder="Filter name">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter" name="task_name"
                                                   placeholder="Filter task">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter " name="issue_id">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter" name="issue_name">
                                        </td>
                                        <td>
                                            <select name="business_process"
                                                    class="form-control form-filter">
                                                <option>Select...</option>
                                                <option>Procure to Pay (Procurement)</option>
                                                <option>Idea to Offering (Strategy/Development)
                                                </option>
                                                <option>Market to Order (Marketing)</option>
                                                <option>Quote to Cash (Sales)</option>
                                                <option>Return Material Authorization (Sales
                                                    Returns)
                                                </option>
                                                <option>Forecast to Delivery (Budget)</option>
                                                <option>Financial Plan to Report (Fin. Reporting)
                                                </option>
                                                <option>Issue to Resolution (Customer Service)
                                                </option>
                                                <option>Plan to Inventory (Manufacturing)</option>
                                                <option>Assess to Acquire (Acquisitions)</option>
                                                <option>Acquire to Retire (Fixed Assets)</option>
                                                <option>Hire to Retire (HR)</option>
                                                <option>Other</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter date-picker"
                                                   name="date_raised">
                                        </td>
                                        <td>
                                            <select name="issue_impact" class="form-control form-filter ">
                                                <option value="">Select...</option>
                                                <option value="impact1">Impact 1</option>
                                                <option value="impact2">Impact 2</option>
                                                <option value="impact3">Impact 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="fraud_flag" class="form-control form-filter">
                                                <option value="">Select...</option>
                                                <option value="true">True</option>
                                                <option value="false">False</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="follow_up" class="form-control form-filter">
                                                <option value="">Select...</option>
                                                <option value="true">True</option>
                                                <option value="false">False</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="margin-bottom-5">
                                                <button class="btn btn-sm blue filter-submit margin-bottom"><i
                                                            class="fa fa-search"></i> Search
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd" role="row">
                                        <td></td>
                                        <td><a href="#">1</a></td>
                                        <td><a href="?r=audit_detail">Audit Name 1</a></td>
                                        <td><a href="?r=task_detail">Task Name I (99394)</a></td>
                                        <td>474</td>
                                        <td><a data-toggle="modal" data-target="#issues_modal">Issue Name I</a></td>
                                        <td>Hire to Retire</td>
                                        <td>1/1/2011</td>
                                        <td><span class="label label-sm label-success">impact 1</span></td>
                                        <td class="text-center"><i class="fa fa-check"></i></td>
                                        <td class="text-center"><i class="fa fa-check"></i></td>
                                        <td><a data-toggle="modal" data-target="#issues_modal"
                                               class="btn btn-xs btn-warning"><i
                                                        class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    <tr class="even" role="row">
                                        <td></td>
                                        <td><a href="#">2</a></td>
                                        <td><a href="?r=audit_detail">Audit Name 1</a></td>
                                        <td><a href="?r=task_detail">Task Name II (9394)</a></td>
                                        <td>474</td>
                                        <td><a data-toggle="modal" data-target="#issues_modal">Issue Name III</a></td>
                                        <td>Hire to Retire</td>
                                        <td>1/1/2011</td>
                                        <td><span class="label label-sm label-success">impact 1</span></td>
                                        <td class="text-center"><i class="fa fa-check"></i></td>
                                        <td class="text-center"><i class="fa fa-times"></i></td>
                                        <td><a data-toggle="modal" data-target="#issues_modal"
                                               class="btn btn-xs btn-warning"><i
                                                        class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    <tr class="odd" role="row">
                                        <td></td>
                                        <td><a href="#">3</a></td>
                                        <td><a href="?r=audit_detail">Audit Name 5</a></td>
                                        <td><a href="?r=task_detail">Task Name I (13394)</a></td>
                                        <td>474</td>
                                        <td><a data-toggle="modal" data-target="#issues_modal">Issue Name I</a></td>
                                        <td>Hire to Retire</td>
                                        <td>1/1/2011</td>
                                        <td><span class="label label-sm label-success">impact 1</span></td>
                                        <td class="text-center"><i class="fa fa-check"></i></td>
                                        <td class="text-center"><i class="fa fa-times"></i></td>
                                        <td><a data-toggle="modal" data-target="#issues_modal"
                                               class="btn btn-xs btn-warning"><i
                                                        class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {#issues_modal#}
                    <div id="issues_modal" class="modal-lg modal modal-dialog fade" tabindex="-1">
                        <div class="modal-header green">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <span class="modal-title">Identified Issues</span>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form role="form">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <label class="control-label">Title</label>
                                                    <input type="text" class="form-control input-sm">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Issue ID</label>
                                                    <input type="text" class="form-control input-sm">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Date Raised</label>
                                                    <input type="text" class="form-control date-picker input-sm"
                                                           data-date-format="mm/dd/yyyy">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Impact</label>
                                                    <select class="input-sm form-control">
                                                        <option>Huge</option>
                                                        <option>Medium</option>
                                                        <option>Low</option>
                                                    </select>
                                                </div>
                                                <label>
                                                    <input type="checkbox" class="icheck"
                                                           data-checkbox="icheckbox_flat-red">
                                                    Fraud Red Flag
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <textarea rows="5" class="form-control input-sm"
                                                      placeholder="Issue Description"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <textarea rows="5" class="form-control input-sm"
                                                      placeholder="Recommended Action"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <textarea rows="5" class="form-control input-sm"
                                                      placeholder="Management Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr>
                                    <div class="col-md-9 col-sm-9 text-left">
                                        <h5>Created: 25/11/2015 by Roberto Zambelli</h5>
                                        <h5>Modified: 13/12/2015 by Roberto Zambelli</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label>
                                            <input type="checkbox" class="icheck"
                                                   data-checkbox="icheckbox_flat">
                                            Follow-up Required
                                        </label>

                                        <div class="clearfix"></div>
                                        <label>
                                            <input type="checkbox" class="icheck"
                                                   data-checkbox="icheckbox_flat">
                                            Exclude from Report
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-success">Save</button>
                                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ assets('assets/global/plugins/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/scripts/datatable.js') }}"></script>
    <script src="{{ assets('assets/admin/pages/scripts/table-ajax.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
            TableAjax.init();
        });
    </script>
{% endblock %}
