{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block page_styles %}
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li>
                <a href="#">ERM</a>
            </li>
            <li>
                {#If is for edit an controller, this is the correct breadcrumb#}
                <a href="#">Risk Matrix</a>
            </li>
            <li class="active">Edit</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase ">Risk Title</span>
                                <span class="status label label-success">Active</span>
                            </div>
                            <div class="actions">
                                <input type="text" class="btn btn-default btn-circle actions-search" name="query"
                                       placeholder="Search">
                            </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-edit"></i>
                                    <span class="hidden-480">Edit </span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-file"></i>
                                    <span class="hidden-480">Export </span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-envelope"></i>
                                    <span class="hidden-480">Invite </span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-archive"></i>
                                    <span class="hidden-480">Archive </span>
                                </a>
                            </div>

                        </div>
                        <div class="portlet-body form">
                            <form role="form">
                                <div class="form-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="6"
                                                              placeholder="Risk Description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="6"
                                                              placeholder="Impact Description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="6"
                                                              placeholder="Recovery Description"></textarea>
                                                </div>
                                                <br><br><br><br>
                                                <hr/>
                                                <div class="span12">
                                                    <div class="portlet box green-haze">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                Attachments
                                                            </div>
                                                            <div class="tools">
                                                                <a href="javascript:;" class="collapse"></a>
                                                            </div>
                                                            <div class="actions">
                                                                <a href="javascript:;"
                                                                   class="btn btn-outline btn-default tooltips"
                                                                   data-original-title="Help Text">
                                                                    <i class="fa fa-question"></i>
                                                                </a>
                                                            </div>
                                                            <div class="actions">&nbsp;</div>
                                                             <div class="actions">
                                                                <a class="btn btn-default btn-outline"
                                                                   data-toggle="modal"
                                                                   data-target="#department_modal">
                                                                    <i class="fa fa-plus"></i> <span
                                                                            class=""> Add</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body no-more-tables"
                                                             style="display: block;">
                                                            <div class="table-responsive">
                                                            <table class="table table-bordered table-striped table-condensed table-hover cf">
                                                                <thead>
                                                                <tr>
                                                                    <th>Filename</th>
                                                                    <th>Size</th>
                                                                    <th>Uploaded</th>
                                                                    <th>Remove</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td><span class="fa fa-file-pdf-o"></span> <a
                                                                                href="#">Document1.pdf</a></td>
                                                                    <td>1.1 MB</td>
                                                                    <td>12/3/2015</td>
                                                                    <td class="text-center"><a href="#"><span
                                                                                    class="fa fa-trash"></span></a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="fa fa-file-text-o"></span> <a
                                                                                href="#">List.txt</a></td>
                                                                    <td>110 KB</td>
                                                                    <td>15/3/2015</td>
                                                                    <td class="text-center"><a href="#"><span
                                                                                    class="fa fa-trash"></span></a></td>
                                                                </tr>

                                                                </tbody>
                                                            </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="portlet box green-haze">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            Risk Ownership
                                                        </div>
                                                        <div class="tools">
                                                            <a title="" data-original-title="" href="javascript:;"
                                                               class="collapse"></a>
                                                        </div>
                                                        <div class="actions">
                                                            <a href="javascript:;"
                                                               class="btn btn-default btn-outline tooltips"
                                                               data-original-title="Help Text">
                                                                <i class="fa fa-question"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class=" row margin-top-10">
                                                            <label class="col-md-5">Title</label>

                                                            <div class="col-md-7">
                                                                <input name="risk_title"
                                                                       class="form-control input-sm" value="Risk Title">
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="col-md-5">Business Process</label>

                                                            <div class="col-md-7">
                                                                <select name="business_process"
                                                                        class="form-control input-sm">
                                                                    <option>Procure to Pay (Procurement)</option>
                                                                    <option>Idea to Offering (Strategy/Development)
                                                                    </option>
                                                                    <option>Market to Order (Marketing)</option>
                                                                    <option>Quote to Cash (Sales)</option>
                                                                    <option>Return Material Authorization (Sales
                                                                        Returns)
                                                                    </option>
                                                                    <option>Forecast to Delivery (Budget)</option>
                                                                    <option>Financial Plan to Report (Fin. Reporting)
                                                                    </option>
                                                                    <option>Issue to Resolution (Customer Service)
                                                                    </option>
                                                                    <option>Plan to Inventory (Manufacturing)</option>
                                                                    <option>Assess to Acquire (Acquisitions)</option>
                                                                    <option>Acquire to Retire (Fixed Assets)</option>
                                                                    <option>Hire to Retire (HR)</option>
                                                                    <option>Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Responsibility</label>

                                                            <div class="col-md-7">
                                                                <select name="risk responsibility"
                                                                        class="form-control input-sm">
                                                                    <option value="">Select...</option>
                                                                    <option value="role1">Role 1</option>
                                                                    <option value="role2">Role 2</option>
                                                                    <option value="role3">Role 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Accountability</label>

                                                            <div class="col-md-7">
                                                                <select name="risk_accountability"
                                                                        class="form-control input-sm">
                                                                    <option value="">Select...</option>
                                                                    <option value="role1">Role 1</option>
                                                                    <option value="role2">Role 2</option>
                                                                    <option value="role3">Role 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Control
                                                                Ownership</label>

                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm">
                                                                    <option value="">Select...</option>
                                                                    <option value="role1">Role 1</option>
                                                                    <option value="role2">Role 2</option>
                                                                    <option value="role3">Role 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet box green-haze">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            Risk Assessment
                                                        </div>
                                                        <div class="tools">
                                                            <a title="" data-original-title="" href="javascript:;"
                                                               class="collapse"></a>
                                                        </div>
                                                        <div class="actions">
                                                            <a href="javascript:;"
                                                               class="btn btn-default btn-outline tooltips"
                                                               data-original-title="Help Text">
                                                                <i class="fa fa-question"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Status</label>
                                                            <div class="col-md-7">
                                                                <select name="risk_status"
                                                                        class="form-control input-sm">
                                                                    <option value="">Status...</option>
                                                                    <option value="pending">Status 1</option>
                                                                    <option value="closed">Status 2</option>
                                                                    <option value="hold">Status 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Risk Area</label>

                                                            <div class="col-md-7">
                                                                <select name="risk_area"
                                                                        class="form-control input-sm">
                                                                    <option>Risk Area...</option>
                                                                    <option>Financial Reporting</option>
                                                                    <option>Market</option>
                                                                    <option>Customer/Product</option>
                                                                    <option>Manufacturing/ Production</option>
                                                                    <option>Supply Chain</option>
                                                                    <option>IT</option>
                                                                    <option>Data</option>
                                                                    <option>Legal</option>
                                                                    <option>Social/Ethical</option>
                                                                    <option>Environmental</option>
                                                                    <option>Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Risk Factor</label>

                                                            <div class="col-md-7">
                                                                <select name="risk_factor"
                                                                        class="form-control input-sm">
                                                                    <option>Risk Factor...</option>
                                                                    <option>External - Economic</option>
                                                                    <option>External - Environmental</option>
                                                                    <option>External - Political</option>
                                                                    <option>External - Other</option>
                                                                    <option>Internal - Infrastructure</option>
                                                                    <option>Internal - Personnel</option>
                                                                    <option>Internal - Process</option>
                                                                    <option>Internal - Technology</option>
                                                                    <option>Internal - Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Overall
                                                                Ranking</label>
                                                            <div class="col-md-7">
                                                                <select name="risk_ranking"
                                                                        class="form-control input-sm">
                                                                    <option value="">Ranking...</option>
                                                                    <option value="rank_1">Ranking 1</option>
                                                                    <option value="rank_2">Ranking 2</option>
                                                                    <option value="rank_3">Ranking 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Likelihood</label>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm">
                                                                    <option>Likelihood...</option>
                                                                    <option>Likelihood 1</option>
                                                                    <option>Likelihood 2</option>
                                                                    <option>Likelihood 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Impact</label>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm">
                                                                    <option>Impact...</option>
                                                                    <option>Impact 1</option>
                                                                    <option>Impact 2</option>
                                                                    <option>Impact 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet box green-haze">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            Associated Controls
                                                        </div>
                                                        <div class="tools">
                                                            <a title="" data-original-title="" href="javascript:;"
                                                               class="collapse"></a>
                                                        </div>
                                                        <div class="actions">
                                                            <a href="javascript:;"
                                                               class="btn btn-default btn-outlinetooltips"
                                                               data-original-title="Help Text">
                                                                <i class="fa fa-question"></i>
                                                            </a>
                                                        </div>
                                                        <div class="actions">&nbsp;</div>
                                                             <div class="actions">
                                                                <a class="btn btn-default btn-outline"
                                                                   data-toggle="modal"
                                                                   data-target="#department_modal">
                                                                    <i class="fa fa-plus"></i> <span
                                                                            class=""> Add</span></a>
                                                            </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="scroller" style="height:135px">
                                                        <table class="table table-bordered table-striped table-condensed table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th width="10%">ID</th>
                                                                <th width="50%">Control Description</th>
                                                                <th width="10%">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td><a href="#">2131</a></td>
                                                                <td>Control description goes here, more test with ...
                                                                </td>
                                                                <td class="text-center"><a href="#"><span
                                                                                class="fa fa-trash"></span></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="#">2231</a></td>
                                                                <td>Control description goes here, more test with ...
                                                                </td>
                                                                <td class="text-center"><a href="#"><span
                                                                                class="fa fa-trash"></span></a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="pull-left">
                                                    <h5>ID: 223-445-AA</h5>
                                                    <h5>Created: 25/11/2015</h5>
                                                    <h5>Modified: 13/12/2015 by Roberto Zambelli</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
            $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                autoclose: true
            });
        });
    </script>
{% endblock %}