{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block page_styles %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ assets('assets/global/plugins/select2/css/select2.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li>
                <a href="#">ERM</a>
            </li>
            <li class="active">Risk matrix</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="container-fluid">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Risk Matrix</span>
                            </div>
                            <div class="actions">
                                <input type="name" class="btn btn-default btn-circle actions-search" name="query"
                                       placeholder="Search risks">
                            </div>
                            <div class="actions">
                                <a href="?r=risk_detail" class="btn btn-default btn-circle">
                                    <i class="fa fa-plus"></i>
                                    <span class="hidden-480">New Risk</span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-edit"></i>
                                    <span class="hidden-480">Edit </span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-archive"></i>
                                    <span class="hidden-480">Archive </span>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-container">
                                <div class="table-actions-wrapper">

                                </div>
                                <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                                    <thead>
                                    <tr role="row" class="heading">
                                        <th width="2%">
                                            <input type="checkbox" class="group-checkable">
                                        </th>
                                        <th width="5%">
                                            ID
                                        </th>
                                        <th width="15%">
                                            Title
                                        </th>
                                        <th width="15%">
                                            Business Process
                                        </th>
                                        <th width="15%">
                                            Status
                                        </th>
                                        <th width="15%">
                                            Risk Area
                                        </th>
                                        <th width="15%">
                                            Risk Factor
                                        </th>
                                        <th width="15%">
                                            Rating
                                        </th>
                                        <th width="10%">
                                            Likelihood
                                        </th>
                                        <th width="10%">
                                            Impact
                                        </th>
                                        <th width="10%">
                                            Responsibility
                                        </th>
                                        <th width="10%">
                                            Accountability
                                        </th>
                                        <th width="10%">
                                            Ownership
                                        </th>
                                        <th width="10%">
                                            Actions
                                        </th>
                                    </tr>
                                    <tr role="row" class="datatable-filter">
                                        <td>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter " name="risk_id"
                                                   placeholder="ID">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter" name="risk_name"
                                                   placeholder="Filter name">
                                        </td>
                                        <td>
                                            <select name="business_process"
                                                    class="form-control form-filter">
                                                <option>Select...</option>
                                                <option>Procure to Pay (Procurement)</option>
                                                <option>Idea to Offering (Strategy/Development)
                                                </option>
                                                <option>Market to Order (Marketing)</option>
                                                <option>Quote to Cash (Sales)</option>
                                                <option>Return Material Authorization (Sales
                                                    Returns)
                                                </option>
                                                <option>Forecast to Delivery (Budget)</option>
                                                <option>Financial Plan to Report (Fin. Reporting)
                                                </option>
                                                <option>Issue to Resolution (Customer Service)
                                                </option>
                                                <option>Plan to Inventory (Manufacturing)</option>
                                                <option>Assess to Acquire (Acquisitions)</option>
                                                <option>Acquire to Retire (Fixed Assets)</option>
                                                <option>Hire to Retire (HR)</option>
                                                <option>Other</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="risk_status" class="form-control form-filter ">
                                                <option value="">Select...</option>
                                                <option value="status1">Status 1</option>
                                                <option value="status2">Status 2</option>
                                                <option value="status3">Status 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="risk_area"
                                                    class="form-control form-filter">
                                                <option>Select...</option>
                                                <option>Financial Reporting</option>
                                                <option>Market</option>
                                                <option>Customer/Product</option>
                                                <option>Manufacturing/ Production</option>
                                                <option>Supply Chain</option>
                                                <option>IT</option>
                                                <option>Data</option>
                                                <option>Legal</option>
                                                <option>Social/Ethical</option>
                                                <option>Environmental</option>
                                                <option>Other</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="risk_factor"
                                                    class="form-control form-filter">
                                                <option>Select...</option>
                                                <option>External - Economic</option>
                                                <option>External - Environmental</option>
                                                <option>External - Political</option>
                                                <option>External - Other</option>
                                                <option>Internal - Infrastructure</option>
                                                <option>Internal - Personnel</option>
                                                <option>Internal - Process</option>
                                                <option>Internal - Technology</option>
                                                <option>Internal - Other</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="risk_rating" class="form-control form-filter ">
                                                <option value="">Select...</option>
                                                <option value="status1">Rating 1</option>
                                                <option value="status2">Rating 2</option>
                                                <option value="status3">Rating 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="risk_likelihood" class="form-control form-filter ">
                                                <option value="">Select...</option>
                                                <option value="status1">Likelihood 1</option>
                                                <option value="status2">Likelihood 2</option>
                                                <option value="status3">Likelihood 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="risk_impact" class="form-control form-filter ">
                                                <option value="">Select...</option>
                                                <option value="status1">Impact 1</option>
                                                <option value="status2">Impact 2</option>
                                                <option value="status3">Impact 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="risk_responsibility" class="form-control form-filter ">
                                                <option value="">Select...</option>
                                                <option value="role1">Role 1</option>
                                                <option value="role2">Role 2</option>
                                                <option value="role3">Role 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="risk_accountability" class="form-control form-filter ">
                                                <option value="">Select...</option>
                                                <option value="role1">Role 1</option>
                                                <option value="role2">Role 2</option>
                                                <option value="role3">Role 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="risk_ownership" class="form-control form-filter ">
                                                <option value="">Select...</option>
                                                <option value="role1">Role 1</option>
                                                <option value="role2">Role 2</option>
                                                <option value="role3">Role 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="margin-bottom-5">
                                                <button class="btn btn-sm blue filter-submit margin-bottom"><i
                                                            class="fa fa-search"></i> Search
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd" role="row">
                                        <td></td>
                                        <td><a href="#">1</a></td>
                                        <td><a href="?r=risk_detail">Risk 1</a></td>
                                        <td>Forecast to Delivery</td>
                                        <td><span class="label label-sm label-success">status 1</span></td>
                                        <td>IT</td>
                                        <td>External - Economic</td>
                                        <td>5/10</td>
                                        <td>56%</td>
                                        <td>Medium</td>
                                        <td>Role name 1</td>
                                        <td>Role name 3</td>
                                        <td>Role name 2</td>
                                        <td><a href="?r=risk_detail" class="btn btn-xs btn-warning"><i
                                                        class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    <tr class="even" role="row">
                                        <td></td>
                                        <td><a href="#">2</a></td>
                                        <td><a href="?r=risk_detail">Risk 2</a></td>
                                        <td>Forecast to Delivery</td>
                                        <td><span class="label label-sm label-info">status 2</span></td>
                                        <td>IT</td>
                                        <td>External - Economic</td>
                                        <td>4/10</td>
                                        <td>56%</td>
                                        <td>Medium</td>
                                        <td>Role name 1</td>
                                        <td>Role name 3</td>
                                        <td>Role name 2</td>
                                        <td><a href="?r=risk_detail" class="btn btn-xs btn-warning"><i
                                                        class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    <tr class="odd" role="row">
                                        <td></td>
                                        <td><a href="#">1</a></td>
                                        <td><a href="?r=risk_detail">Risk 3</a></td>
                                        <td>Forecast to Delivery</td>
                                        <td><span class="label label-sm label-danger">status 3</span></td>
                                        <td>IT</td>
                                        <td>External - Economic</td>
                                        <td>8/10</td>
                                        <td>86%</td>
                                        <td>Big</td>
                                        <td>Role name 1</td>
                                        <td>Role name 3</td>
                                        <td>Role name 2</td>
                                        <td><a href="?r=risk_detail" class="btn btn-xs btn-warning"><i
                                                        class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ assets('assets/global/plugins/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ assets('assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/scripts/datatable.js') }}"></script>
    <script src="{{ assets('assets/admin/pages/scripts/table-ajax.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
            TableAjax.init();
        });
    </script>
{% endblock %}
