{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block page_styles %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ assets('assets/global/plugins/select2/css/select2.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css') }}" rel="stylesheet"
          type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li>
                <a href="#">ERM</a>
            </li>
            <li class="active">Role Management</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="container-fluid">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Roles Management</span>
                            </div>
                            <div class="actions btn-set">
                                <a class="btn green-haze" id="role-add" data-toggle="modal"
                                   data-target="#role_form"><span class="fa fa-plus"></span> Add</a>
                            </div>
                        </div>
                        <div id="roles_table_wrapper" class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="roles_table">
                                <thead>
                                <tr>
                                    <th width="10%" class="table-checkbox">
                                        <input type="checkbox" class="group-checkable"
                                               data-set="#roles_table .checkboxes"/>
                                    </th>
                                    <th width="10%">
                                        Role Title
                                    </th>
                                    <th width="10%">
                                        Full Name
                                    </th>
                                    <th width="10%">
                                        Email
                                    </th>
                                    <th width="10%">
                                        Associated User
                                    </th>
                                    <th width="5%">
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Accountant</a>
                                    </td>
                                    <td>
                                        Nikos Zois
                                    </td>
                                    <td>
                                        nikos@gmail.com
                                    </td>
                                    <td>
                                        nikoszoisse
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <tr class="even gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Role Name</a>
                                    </td>
                                    <td>
                                        Andrea Guidichi
                                    </td>
                                    <td>
                                        andrea@recursive.ee
                                    </td>
                                    <td>
                                        andrea
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Accountant</a>
                                    </td>
                                    <td>
                                        Nikos Zois
                                    </td>
                                    <td>
                                        nikos@gmail.com
                                    </td>
                                    <td>
                                        nikoszoisse
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <tr class="even gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Role Name</a>
                                    </td>
                                    <td>
                                        Andrea Guidichi
                                    </td>
                                    <td>
                                        andrea@recursive.ee
                                    </td>
                                    <td>
                                        andrea
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Accountant</a>
                                    </td>
                                    <td>
                                        Nikos Zois
                                    </td>
                                    <td>
                                        nikos@gmail.com
                                    </td>
                                    <td>
                                        nikoszoisse
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <tr class="even gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Role Name</a>
                                    </td>
                                    <td>
                                        Andrea Guidichi
                                    </td>
                                    <td>
                                        andrea@recursive.ee
                                    </td>
                                    <td>
                                        andrea
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Accountant</a>
                                    </td>
                                    <td>
                                        Nikos Zois
                                    </td>
                                    <td>
                                        nikos@gmail.com
                                    </td>
                                    <td>
                                        nikoszoisse
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <tr class="even gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Role Name</a>
                                    </td>
                                    <td>
                                        Andrea Guidichi
                                    </td>
                                    <td>
                                        andrea@recursive.ee
                                    </td>
                                    <td>
                                        andrea
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Accountant</a>
                                    </td>
                                    <td>
                                        Nikos Zois
                                    </td>
                                    <td>
                                        nikos@gmail.com
                                    </td>
                                    <td>
                                        nikoszoisse
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                <tr class="even gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#role_form">Role Name</a>
                                    </td>
                                    <td>
                                        Andrea Guidichi
                                    </td>
                                    <td>
                                        andrea@recursive.ee
                                    </td>
                                    <td>
                                        andrea
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning" href="#" data-toggle="modal"
                                           data-target="#role_form"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {#MODAL HERE#}
            <div id="role_form" class="modal modal-dialog modal-md fade" tabindex="-1">
                <div class="modal-header green">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <span class="modal-title">Add/Edit a role</span>
                </div>
                <form role="form">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-1">
                                    <div class="row margin-top-10">
                                        <label class="col-md-3 col-sm-3">Role Name</label>

                                        <div class="col-md-7 col-sm-7">
                                            <input type="text" name="role_name" class="form-control input-sm" required>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <label class="col-md-3 col-sm-3">First Name</label>

                                        <div class="col-md-7 col-sm-7">
                                            <input type="text" name="first_name" class="form-control input-sm" required>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <label class="col-md-3 col-sm-3">Last Name</label>

                                        <div class="col-md-7 col-sm-7">
                                            <input type="text" name="last_name" class="form-control input-sm" required>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <label class="col-md-3 col-sm-3">Email</label>

                                        <div class="col-md-7 col-sm-7">
                                            <input type="email" name="role_email" class="form-control input-sm"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <label class="col-md-3 col-sm-3">User Name</label>

                                        <div class="col-md-7 col-sm-7">
                                            <input placeholder="Auto complete user name" name="user_name"
                                                   class="form-control input-sm" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                        <button type="button" class="btn green-haze">Save changes</button>
                    </div>
                </form>

            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ assets('assets/global/plugins/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/scripts/datatable.js') }}"></script>
    <script src="{{ assets('assets/admin/pages/scripts/role-management.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
            RoleManagement.init();
        });
    </script>
{% endblock %}
