<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav text-uppercase">
        <li class="dropdown dropdown-fw {{ home }}">
            <a href="javascript:;">
                <span class="hidden-md">Home</span>
                <i class="fa fa-home fa-large visible-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="{{ index }}"><a href="?tab=home&r=index">Dashboard</a></li>
                <li class="tab-quick-action"><a class="btn btn-sm blue-stripe">Quick Actions </a></li>
                <li><a href="?tab=home&r=risk_detail"><i class="fa fa-plus-circle"></i>
                        Risk</a></li>
                <li><a href="?tab=home&r=control_detail"><i class="fa fa-plus-circle"></i>
                        Control</a></li>
                <li><a href="?tab=home&r=audit_detail"><i class="fa fa-plus-circle"></i>
                        Audit</a></li>
                <li><a href="?tab=home&r=task_detail"><i class="fa fa-plus-circle"></i>
                        Task</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw {{ erm }}">
            <a href="javascript:;">
                <span class="hidden-md">ERM</span>
                <i class="fa fa-bolt fa-large visible-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="{{ index }}"><a href="?tab=erm&r=index">Dashboard</a></li>
                <li class="{{ risk_matrix }}"><a href="?tab=erm&r=risk_matrix">Risk Matrix</a></li>
                <li class="tab-quick-action hidden-sm hidden-xs"><a class="btn btn-sm blue-stripe">Quick Actions </a>
                </li>
                <li><a href="?tab=erm&r=risk_detail"><i class="fa fa-plus-circle"></i>
                        Risk</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw {{ ecm }}">
            <a href="javascript:;">
                <span class="hidden-md">ECM</span>
                <i class="fa fa-tachometer fa-large visible-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="{{ index }}"><a href="?tab=ecm&r=index">Dashboard</a></li>
                <li class="{{ control_matrix }}"><a href="?tab=ecm&r=control_matrix">Control Matrix</a></li>
                <li class="tab-quick-action hidden-sm hidden-xs"><a class="btn btn-sm blue-stripe">Quick Actions </a>
                </li>
                <li><a href="?tab=ecm&r=control_detail"><i class="fa fa-plus-circle"></i>
                        Control</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw {{ audit }}">
            <a href="javascript:;">
                <span class="hidden-md">Audit</span>
                <i class="fa fa-users fa-large visible-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="{{ index }}"><a href="?tab=audit&r=index">Dashboard</a></li>
                <li class="{{ calendar_gantt }}"><a href="?tab=audit&r=calendar_gantt">Schedule</a></li>
                <li class="{{ audit_matrix }}"><a href="?tab=audit&r=audit_matrix">Audit Matrix</a></li>
                <li class="{{ task_matrix }}"><a href="?tab=audit&r=task_matrix">Task Manager</a></li>
                <li class="{{ issue_matrix }}"><a href="?tab=audit&r=issue_matrix">Issue Manager</a></li>
                <li><a href="#">Reporting</a></li>
                <li class="tab-quick-action hidden-sm hidden-xs"><a class="btn btn-sm blue-stripe">Quick Actions </a>
                </li>
                <li><a href="?tab=audit&r=audit_detail"><i class="fa fa-plus-circle"></i>
                        Audit</a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw {{ compliance }}">
            <a href="javascript:;">
                <span class="hidden-md">Compliance</span>
                <i class="fa fa-users fa-large visible-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li class="{{ compliance }}"><a href="?tab=compliance&r=compliance">Code of Conduct</a></li>
                <li><a href="#">Anti-Bribery</a></li>
                <li><a href="#">Whistleblowing</a></li>
                <li><a href="#">Gift Register</a></li>
                <li><a href="#">Sox</a></li>
            </ul>
        </li>

        <li class="dropdown dropdown-fw">
            <a href="javascript:;">
                <span class="hidden-md">Settings</span>
                <i class="fa fa-user-secret fa-large visible-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li><a href="#">Preferences</a></li>
                <li><a href="#">Export Data</a></li>
                <li><a href="#">More</a></li>
            </ul>
        </li>
        {#TODO REMOVE IT IF Not used in the end#}
{#                        <li class="dropdown dropdown-fw">
            <a href="javascript:;">
                <span class="hidden-md hidden-md-extend">Whistle Blowing</span>
                <i class="fa fa-exclamation-triangle fa-large visible-md visible-md-extend"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li><a href="?r=index">Quick Action 1</a></li>
                <li><a href="?r=index">Quick Action 2</a></li>
                <li><a href="?r=index">Quick Action 3</a></li>
                <li><a href="?r=index">Whistle Blowing</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw">
            <a href="javascript:;" data-close-others="true">
                <span class="hidden-md hidden-md-extend">More</span>
                <i class="fa fa-ellipsis-h fa-large visible-md visible-md-extend"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li><a href="javascript:;">Code of Conduct</a></li>
                <li><a href="javascript:;">Gift Register</a></li>
                <li><a href="javascript:;">Checklists / SOX</a></li>
                <li><a href="javascript:;">Export Data</a></li>
                <li><a href="javascript:;">Settings</a></li>
            </ul>
        </li>#}
    </ul>
</div>

