{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block page_styles %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ assets('assets/global/plugins/select2/css/select2.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li>
                <a href="#">ECM</a>
            </li>
            <li class="active">Task manager</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="container-fluid">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Task Manager</span>
                            </div>
                            <div class="actions">
                                <input type="name" class="btn btn-default btn-circle actions-search" name="query"
                                       placeholder="Search tasks">
                            </div>
                            <div class="actions">

                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-container">
                                <div class="table-actions-wrapper">

                                </div>
                                <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                                    <thead>
                                    <tr role="row" class="heading">
                                        <th width="2%">
                                            <input type="checkbox" class="group-checkable">
                                        </th>
                                        <th>
                                            Audit ID
                                        </th>
                                        <th>
                                            Audit Name
                                        </th>
                                        <th>
                                            Task Name (Task ID)
                                        </th>
                                        <th>
                                            Business Process
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Assigned to
                                        </th>
                                        <th>
                                            Reviewed by
                                        </th>
                                        <th>
                                            Review Flag
                                        </th>
                                        <th>
                                            Created
                                        </th>
                                        <th>
                                            Modified
                                        </th>
                                    </tr>
                                    <tr role="row" class="datatable-filter">
                                        <td>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter " name="audit_id"
                                                   placeholder="Audit ID">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter" name="audit_name"
                                                   placeholder="Filter name">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter" name="task_name"
                                                   placeholder="Filter task">
                                        </td>
                                        <td>
                                            <select name="business_process"
                                                    class="form-control form-filter">
                                                <option>Select...</option>
                                                <option>Procure to Pay (Procurement)</option>
                                                <option>Idea to Offering (Strategy/Development)
                                                </option>
                                                <option>Market to Order (Marketing)</option>
                                                <option>Quote to Cash (Sales)</option>
                                                <option>Return Material Authorization (Sales
                                                    Returns)
                                                </option>
                                                <option>Forecast to Delivery (Budget)</option>
                                                <option>Financial Plan to Report (Fin. Reporting)
                                                </option>
                                                <option>Issue to Resolution (Customer Service)
                                                </option>
                                                <option>Plan to Inventory (Manufacturing)</option>
                                                <option>Assess to Acquire (Acquisitions)</option>
                                                <option>Acquire to Retire (Fixed Assets)</option>
                                                <option>Hire to Retire (HR)</option>
                                                <option>Other</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="task_status" class="form-control form-filter ">
                                                <option value="">Select...</option>
                                                <option value="status1">Status 1</option>
                                                <option value="status2">Status 2</option>
                                                <option value="status3">Status 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter" name="assign_name"
                                                   placeholder="Filter user">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter" name="reviewer_name"
                                                   placeholder="Filter user">
                                        </td>
                                        <td>
                                            <select name="flag" class="form-control form-filter">
                                                <option value="">Select...</option>
                                                <option value="true">True</option>
                                                <option value="false">False</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter date-picker"
                                                   name="created_date" placeholder="">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter date-picker"
                                                   name="modified_date" placeholder="">
                                        </td>
                                        <td>
                                            <div class="margin-bottom-5">
                                                <button class="btn btn-sm blue filter-submit margin-bottom"><i
                                                            class="fa fa-search"></i> Search
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd" role="row">
                                        <td></td>
                                        <td><a href="#">1</a></td>
                                        <td><a href="?r=audit_detail">Audit Name 1</a></td>
                                        <td><a href="?r=task_detail">Task Name I (99394)</a></td>
                                        <td>Hire to Retire</td>
                                        <td><span class="label label-sm label-success">status 1</span></td>
                                        <td>Roberto</td>
                                        <td>Nick</td>
                                        <td class="text-center"><i class="fa fa-check"></i></td>
                                        <td>1/1/2011</td>
                                        <td>2/4/2013</td>
                                        <td><a href="?r=task_detail" class="btn btn-xs btn-warning"><i
                                                        class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    <tr class="even" role="row">
                                        <td></td>
                                        <td><a href="#">232</a></td>
                                        <td><a href="?r=audit_detail">Audit Name 2</a></td>
                                        <td><a href="?r=task_detail">Task Name I (87856)</a></td>
                                        <td>Hire to Retire</td>
                                        <td><span class="label label-sm label-success">status 1</span></td>
                                        <td>Roberto</td>
                                        <td>Nick</td>
                                        <td class="text-center"><i class="fa fa-check"></i></td>
                                        <td>1/1/2011</td>
                                        <td>2/4/2013</td>
                                        <td><a href="?r=task_detail" class="btn btn-xs btn-warning"><i
                                                        class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    <tr class="odd" role="row">
                                        <td></td>
                                        <td><a href="#">144</a></td>
                                        <td><a href="?r=audit_detail">Audit Name 1</a></td>
                                        <td><a href="?r=task_detail">Task Name II (98797)</a></td>
                                        <td>Hire to Retire</td>
                                        <td><span class="label label-sm label-success">status 1</span></td>
                                        <td>Roberto</td>
                                        <td>Nick</td>
                                        <td class="text-center"><i class="fa fa-check"></i></td>
                                        <td>1/1/2011</td>
                                        <td>2/4/2013</td>
                                        <td><a href="?r=task_detail" class="btn btn-xs btn-warning"><i
                                                        class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ assets('assets/global/plugins/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ assets('assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/scripts/datatable.js') }}"></script>
    <script src="{{ assets('assets/admin/pages/scripts/table-ajax.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
            TableAjax.init();

        });
    </script>
{% endblock %}
