{% extends "admin_backbone.twig" %}
{% block page_title %} #kob {% endblock %}
{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{{ assets('assets/global/plugins/select2/css/select2.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ assets('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/jquery-multi-select/css/multi-select.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ assets('assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="?r=index">#KOB</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                {#If is for edit an controller, this is the correct breadcrumb#}
                <a href="#">Task Matrix</a>
            </li>
            <li class="active">Edit</li>
        </ol>
    </div>
{% endblock %}
{% block page_content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase ">Task Title</span>
                                <span class="caption-helper">9999-A11</span>
                            </div>
                            <div class="actions">

                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-edit"></i>
                                    <span class="hidden-480">Edit </span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-file"></i>
                                    <span class="hidden-480">Save </span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-bell"></i>
                                    <span class="hidden-480">Notify Reviewer </span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-envelope"></i>
                                    <span class="hidden-480">Invite </span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle" data-toggle="modal"
                                   data-target="#issues_modal">
                                    <i class="fa fa-plus"></i>
                                    <span class="hidden-480">Issue</span>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-circle">
                                    <i class="fa fa-archive"></i>
                                    <span class="hidden-480">Close </span>
                                </a>
                            </div>

                        </div>
                        <div class="portlet-body form">
                            <form role="form">
                                <div class="form-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="6"
                                                              placeholder="Task Description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="6"
                                                              placeholder="Task Results"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="6"
                                                              placeholder="Task Conclusion"></textarea>
                                                </div>
                                                <hr/>
                                                <div class="span12">
                                                    <div class="portlet box green-haze">
                                                        <div class="portlet-title">
                                                            <div class="caption">

                                                                Supporting Documents
                                                            </div>
                                                            <div class="tools">
                                                                <a href="javascript:;" class="collapse"></a>
                                                            </div>
                                                            <div class="actions">
                                                                <a href="javascript:;"
                                                                   class="btn btn-outline btn-default tooltips"
                                                                   data-original-title="Help Text Help Text Help Text Help
                                                               Text Help Text Help Text Help Text Help Text Help Text Help Text">
                                                                    <i class="fa fa-question"></i>
                                                                </a>
                                                            </div>
                                                            <div class="actions">&nbsp;</div>
                                                        <div class="actions">
                                                                <a class="btn btn-default btn-outline"
                                                                   data-toggle="modal"
                                                                   data-target="#department_modal">
                                                                    <i class="fa fa-plus"></i> <span
                                                                            class=""> Add</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body no-more-tables"
                                                             style="display: block;">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered table-striped table-condensed table-hover cf">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Filename</th>
                                                                        <th>Size</th>
                                                                        <th>Uploaded</th>
                                                                        <th>Remove</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td><span class="fa fa-file-pdf-o"></span> <a
                                                                                    href="#">Document1.pdf</a></td>
                                                                        <td>1.1 MB</td>
                                                                        <td>12/3/2015</td>
                                                                        <td class="text-center"><a href="#"><span
                                                                                        class="fa fa-trash"></span></a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span class="fa fa-file-text-o"></span> <a
                                                                                    href="#">List.txt</a></td>
                                                                        <td>110 KB</td>
                                                                        <td>15/3/2015</td>
                                                                        <td class="text-center"><a href="#"><span
                                                                                        class="fa fa-trash"></span></a>
                                                                        </td>
                                                                    </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span12">
                                                    <div class="portlet box green-haze">
                                                        <div class="portlet-title">
                                                            <div class="caption">

                                                                Identified Issues
                                                            </div>
                                                            <div class="tools">
                                                                <a href="javascript:;" class="collapse"></a>
                                                            </div>
                                                            <div class="actions">
                                                                <a href="javascript:;"
                                                                   class="btn btn-outline btn-default tooltips"
                                                                   data-original-title="Help Text Help Text Help Text Help
                                                               Text Help Text Help Text Help Text Help Text Help Text Help Text">
                                                                    <i class="fa fa-question"></i>
                                                                </a>
                                                            </div>
                                                            <div class="actions">&nbsp;</div>
                                                            <div class="actions">
                                                                <a class="btn btn-default btn-outline"
                                                                   data-toggle="modal"
                                                                   data-target="#department_modal">
                                                                    <i class="fa fa-plus"></i> <span
                                                                            class=""> Add</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body no-more-tables"
                                                             style="display: block;">
                                                            <div class="scroller" style="height:200px">
                                                                <table class="table table-bordered table-striped table-condensed table-hover">
                                                                    <thead>
                                                                    <tr>
                                                                        <th width="10%">#</th>
                                                                        <th width="20%">Title</th>
                                                                        <th width="50%">Description</th>
                                                                        <th width="10%">Importance</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Note le name here</td>
                                                                        <td>loren lorem lolem lorem lolrrem lorem lorem
                                                                            lorem
                                                                            lorem..
                                                                        </td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-info">Low</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td>Note name here</td>
                                                                        <td>loren lorem lolem lorem lolrrem lorem lorem
                                                                            lorem
                                                                            lorem..
                                                                        </td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-info">Low</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>3</td>
                                                                        <td>Note name here</td>
                                                                        <td>loren lorem lolem lorem lolrrem lorem lorem
                                                                            lorem
                                                                            lorem..
                                                                        </td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-danger">Important</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>4</td>
                                                                        <td>Note name here</td>
                                                                        <td>loren lorem lolem lorem lolrrem lorem lorem
                                                                            lorem
                                                                            lorem..
                                                                        </td>
                                                                        <td class="text-center"><span
                                                                                    class="label label-sm label-warning">Medium</span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="portlet box green-haze">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            Task Settings
                                                        </div>
                                                        <div class="tools">
                                                            <a title="" data-original-title="" href="javascript:;"
                                                               class="collapse"></a>
                                                        </div>
                                                        <div class="actions">
                                                            <a href="javascript:;"
                                                               class="btn btn-default btn-outline tooltips"
                                                               data-original-title="Help Text Help Text Help Text Help
                                                               Text Help Text Help Text Help Text Help Text Help Text Help Text">
                                                                <i class="fa fa-question"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="row margin-top-10">
                                                            <label class="col-md-5">Title</label>

                                                            <div class="col-md-7">
                                                                <input name="task_title"
                                                                       class="form-control input-sm" value="Task Title">
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Status</label>

                                                            <div class="col-md-7">
                                                                <select name="task_status"
                                                                        class="form-control input-sm">
                                                                    <option value="open">Open</option>
                                                                    <option value="closed">Closed</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Assigned to</label>

                                                            <div class="col-md-7">
                                                                <select name="task_assigned_to"
                                                                        class="form-control input-sm">
                                                                    <option value="">Member 1</option>
                                                                    <option value="">Member 2</option>
                                                                    <option value="">Member 3</option>
                                                                    <option value="">Member 4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <label class="control-label col-md-5">Assigned
                                                                Reviewer</label>

                                                            <div class="col-md-7">
                                                                <select name="task_reviewer"
                                                                        class="form-control input-sm">
                                                                    <option value="">Member 1</option>
                                                                    <option value="">Member 2</option>
                                                                    <option value="">Member 3</option>
                                                                    <option value="">Member 4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet box green-haze">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            Business Processes Covered
                                                        </div>
                                                        <div class="tools">
                                                            <a title="" data-original-title="" href="javascript:;"
                                                               class="collapse"></a>
                                                        </div>
                                                        <div class="actions">
                                                            <a class="btn btn-default btn-outline"
                                                               data-toggle="modal"
                                                               data-target="#business_proc_modal">
                                                                <i class="fa fa-gear"></i> <span
                                                                        class=" "> Edit</span></a>
                                                        </div>
                                                        <div class="actions">&nbsp;</div>
                                                        <div class="actions">
                                                            <a href="javascript:;"
                                                               class="btn btn-default btn-outline tooltips"
                                                               data-original-title="Help Text Help Text Help Text Help
                                                               Text Help Text Help Text Help Text Help Text Help Text Help Text">
                                                                <i class="fa fa-question"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="scroller" style="height:200px">
                                                            <table class="table table-bordered table-striped table-condensed table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th width="10%">#</th>
                                                                    <th width="20%">Process</th>
                                                                    <th width="10%">Status</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>Quote to Cash (Sales)</td>
                                                                    <td class="text-center"><span
                                                                                class="label label-sm label-success">covered</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td>Forecast to Delivery (Budget)</td>
                                                                    <td class="text-center"><span
                                                                                class="label label-sm label-success">covered</span>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet box green-haze">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            Entity Controls Tested
                                                        </div>
                                                        <div class="tools">
                                                            <a title="" data-original-title="" href="javascript:;"
                                                               class="collapse"></a>
                                                        </div>
                                                        <div class="actions">
                                                            <a class="btn btn-default btn-outline"
                                                               data-toggle="modal"
                                                               data-target="#controls_modal">
                                                                <i class="fa fa-gear"></i> <span
                                                                        class=" "> Edit</span></a>
                                                        </div>
                                                        <div class="actions">&nbsp;</div>
                                                        <div class="actions">
                                                            <a href="javascript:;"
                                                               class="btn btn-default btn-outlinetooltips"
                                                               data-original-title="Help Text Help Text Help Text Help
                                                               Text Help Text Help Text Help Text Help Text Help Text Help Text">
                                                                <i class="fa fa-question"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="scroller" style="height:135px">
                                                            <table class="table table-bordered table-striped table-condensed table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th width="10%">ID</th>
                                                                    <th width="50%">Control Description</th>
                                                                    <th width="10%">Action</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td><a href="#">2131</a></td>
                                                                    <td>Control description goes here, more test with
                                                                        ...
                                                                    </td>
                                                                    <td class="text-center"><a href="#"><span
                                                                                    class="fa fa-trash"></span></a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="#">2231</a></td>
                                                                    <td>Control description goes here, more test with
                                                                        ...
                                                                    </td>
                                                                    <td class="text-center"><a href="#"><span
                                                                                    class="fa fa-trash"></span></a></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet box green-haze">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            Reviewer Notes
                                                        </div>
                                                        <div class="tools">
                                                            <a title="" data-original-title="" href="javascript:;"
                                                               class="collapse"></a>
                                                        </div>
                                                        <div class="actions">&nbsp;</div>
                                                        <div class="actions">
                                                            <a class="btn btn-default btn-outline"
                                                               data-toggle="modal"
                                                               data-target="#notes_modal">
                                                                <i class="fa fa-gear"></i> <span
                                                                        class=" "> Edit</span></a>
                                                        </div>
                                                        <div class="actions">&nbsp;</div>
                                                        <div class="actions">
                                                            <a href="javascript:;"
                                                               class="btn btn-default btn-outline tooltips"
                                                               data-original-title="Help Text Help Text Help Text Help
                                                               Text Help Text Help Text Help Text Help Text Help Text Help Text">
                                                                <i class="fa fa-question"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="scroller" style="height:200px">
                                                            <table class="table table-bordered table-striped table-condensed table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th width="10%">#</th>
                                                                    <th width="20%">Title</th>
                                                                    <th width="50%">Description</th>
                                                                    <th width="10%">Importance</th>
                                                                    <th width="10%">Actioned</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>Note name here</td>
                                                                    <td>loren lorem lolem lorem lolrrem lorem lorem
                                                                        lorem
                                                                        lorem..
                                                                    </td>
                                                                    <td class="text-center"><span
                                                                                class="label label-sm label-info">Low</span>
                                                                    </td>
                                                                    <td class="text-center"><i class="fa fa-times"></i>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td>Note name here</td>
                                                                    <td>loren lorem lolem lorem lolrrem lorem lorem
                                                                        lorem
                                                                        lorem..
                                                                    </td>
                                                                    <td class="text-center"><span
                                                                                class="label label-sm label-info">Low</span>
                                                                    </td>
                                                                    <td class="text-center"><i class="fa fa-check"></i>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3</td>
                                                                    <td>Note name here</td>
                                                                    <td>loren lorem lolem lorem lolrrem lorem lorem
                                                                        lorem
                                                                        lorem..
                                                                    </td>
                                                                    <td class="text-center"><span
                                                                                class="label label-sm label-danger">Important</span>
                                                                    </td>
                                                                    <td class="text-center"><i class="fa fa-check"></i>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>4</td>
                                                                    <td>Note name here</td>
                                                                    <td>loren lorem lolem lorem lolrrem lorem lorem
                                                                        lorem
                                                                        lorem..
                                                                    </td>
                                                                    <td class="text-center"><span
                                                                                class="label label-sm label-warning">Medium</span>
                                                                    </td>
                                                                    <td class="text-center"><i class="fa fa-check"></i>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="pull-left">
                                                    <h5>Created: 25/11/2015 by Roberto Zambelli</h5>
                                                    <h5>Modified: 13/12/2015 by Roberto Zambelli</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
        </div>
        {#MODALS HERE#}
        {% include "task_modals.twig" %}
    </div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{{ assets('assets/global/plugins/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
    <script type="text/javascript"
            src="{{ assets('assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
    <script src="{{ assets('assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>
    <script src="{{ assets('assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ assets('assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js') }}"
            type="text/javascript"></script>
    <script src="{{ assets('assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/global/plugins/icheck/icheck.min.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ assets('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ assets('assets/admin/layout5/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            QuickSidebar.init(); // init quick sidebar
            Layout.init(); // init layout
            $('.date-picker').datepicker();
            $('#my_multi_select2').multiSelect({cssClass: "full-width"});
        });
    </script>
{% endblock %}