{# controls_modal #}
<div id="controls_modal" class="modal-lg modal modal-dialog fade" tabindex="-1">
    <form role="form">
        <div class="modal-header green">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <span class="modal-title">Entity Controls Tested</span>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="help-block">
                                    Click the Entities / Controls that covered already.
                                </div>
                                <div class="col-md-12">
                                    <select multiple="multiple" class="multi-select" id="my_multi_select2"
                                            name="my_multi_select2[]">
                                        <option>Control name I</option>
                                        <option>Control name II</option>
                                        <option>Control name III</option>
                                        <option>Control name IV</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" class="btn green-haze">Save changes</button>
            </div>
        </div>
    </form>
</div>

{#issues_modal#}
<div id="issues_modal" class="modal-lg modal modal-dialog fade" tabindex="-1">
    <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Identified Issues</span>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <form role="form">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Title</label>
                                <input type="text" class="form-control input-sm">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Issue ID</label>
                                <input type="text" class="form-control input-sm">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date Raised</label>
                                <input type="text" class="form-control date-picker input-sm"
                                       data-date-format="mm/dd/yyyy">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Impact</label>
                                <select class="input-sm form-control">
                                    <option>Huge</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>
                            <label>
                                <input type="checkbox" class="icheck"
                                       data-checkbox="icheckbox_flat-red">
                                Fraud Red Flag
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea rows="5" class="form-control input-sm" placeholder="Issue Description"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea rows="5" class="form-control input-sm" placeholder="Recommended Action"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea rows="5" class="form-control input-sm" placeholder="Management Comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-9 col-sm-9 text-left">
                    <h5>Created: 25/11/2015 by Roberto Zambelli</h5>
                    <h5>Modified: 13/12/2015 by Roberto Zambelli</h5>
                </div>
                <div class="col-md-3 col-sm-3">
                    <label>
                        <input type="checkbox" class="icheck"
                               data-checkbox="icheckbox_flat">
                        Follow-up Required
                    </label>

                    <div class="clearfix"></div>
                    <label>
                        <input type="checkbox" class="icheck"
                               data-checkbox="icheckbox_flat">
                        Exclude from Report
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-success">Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
    </div>
</div>

{#notes_modal#}
<div id="notes_modal" class="modal-lg modal modal-dialog fade" tabindex="-1">
    <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Reviewer Notes</span>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Create new Note
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label">Title</label>
                                        <input type="text" class="form-control input-sm">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <textarea rows="4" class="form-control input-sm"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Importance</label>
                                        <select class="input-sm form-control">
                                            <option>Important</option>
                                            <option>Medium</option>
                                            <option>Low</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success pull-right">Create</button>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>Current Notes</h4>
                    <table class="table table-bordered table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th width="10%">#</th>
                            <th width="20%">Title</th>
                            <th width="50%">Description</th>
                            <th width="10%">Importance</th>
                            <th width="10%">Actioned</th>
                            <th width="10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Issue name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><span
                                        class="label label-sm label-info">Low</span>
                            </td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                            <td class="text-center"><i class="fa fa-times"></i></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Note name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><span
                                        class="label label-sm label-info">Low</span>
                            </td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Note name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><span
                                        class="label label-sm label-danger">Important</span>
                            </td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Note name here</td>
                            <td>loren lorem lolem lorem lolrrem lorem lorem lorem lorem..</td>
                            <td class="text-center"><span
                                        class="label label-sm label-warning">Medium</span>
                            </td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="#"><span
                                            class="fa fa-trash"></span></a></td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
    </div>
</div>


{# business_proc_modal #}
<div id="business_proc_modal" class="modal-lg modal modal-dialog fade" tabindex="-1">
    <form role="form">
        <div class="modal-header green">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <span class="modal-title">Business Processes Covered</span>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="help-block">
                                    Click the Business Processes that covered already.
                                </div>
                                <div class="col-md-12">
                                    <select multiple="multiple" class="multi-select" id="my_multi_select2"
                                            name="my_multi_select2[]">
                                        <option>Procure to Pay (Procurement)</option>
                                        <option>Idea to Offering (Strategy/Development)
                                        </option>
                                        <option>Market to Order (Marketing)</option>
                                        <option>Quote to Cash (Sales)</option>
                                        <option>Return Material Authorization (Sales
                                            Returns)
                                        </option>
                                        <option>Forecast to Delivery (Budget)</option>
                                        <option>Financial Plan to Report (Fin. Reporting)
                                        </option>
                                        <option>Issue to Resolution (Customer Service)
                                        </option>
                                        <option>Plan to Inventory (Manufacturing)</option>
                                        <option>Assess to Acquire (Acquisitions)</option>
                                        <option>Acquire to Retire (Fixed Assets)</option>
                                        <option>Hire to Retire (HR)</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" class="btn green-haze">Save changes</button>
            </div>
        </div>
    </form>
</div>

